@model ScAvailableTimesViewModel

@{
    var availableDates = Json.Serialize(Model.AvailableDates);
    Model.SelectedDate = Model.FirstAvailableDate;
}

<h6>Available Times in @Model.SessionInfo.BookingLocationName</h6>
<p>
    Please choose a time below for your <b>@Model.SessionInfo.HearingTypeName</b>.
    <br />
    @ScHearingType.GetHearingType(Model.HearingTypeId)s are booked for
    @Model.HearingLengthMinutes minutes only.
</p>

<form method="post" id="availableTimesForm">
    <div class="row no-gutters">
        <div class="col-8 col-md-4 mx-auto">
            <button type="button" id="datepicker" class="btn btn-quaternary btn-block">
                Choose a date
            </button>
        </div>
    </div>

    <div id="VueHearingTimeSelect" class="availableTimesContainer">
        <hearing-time-select :location-id="@Model.ConferenceLocationRegistryId" :available-dates="@availableDates.ToString()"
            :hearing-type="@Model.HearingTypeId"></hearing-time-select>
    </div>

    @Html.HiddenFor(m => m.ConferenceLocationRegistryId)
    @Html.HiddenFor(m => m.HearingTypeId)
    <input type="hidden" asp-for="SelectedConferenceDate" id="hidDate" />
    <input type="hidden" asp-for="ContainerId" id="hidContainerId" />
    <div class="text-danger">
        <span asp-validation-for="ContainerId"></span>
    </div>

    <div class="row no-gutters">
        <div class="col-6 col-md-8 d-flex align-items-center text-link">
            <span>
                <i class="fas fa-long-arrow-alt-left"></i>
                <a asp-action="BookingType">Step 2: Choose Your Booking Type</a>
            </span>
        </div>
        <div class="col-6 col-md-4">
            <button type="submit" class="btn btn-secondary btn-block">
                Confirm Time
            </button>
        </div>
    </div>
</form>
