@model ScAvailableTimesViewModel

@{
  List<string> regularDatesList = Model.AvailableRegularTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
  string availableRegularDates = Json.Serialize(regularDatesList).ToString();

  List<string> fairUseDatesList = Model.AvailableFairUseTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
  string availableFairUseDates = Json.Serialize(fairUseDatesList).ToString();

  List<string> selectedFairUseList = Model.SelectedFairUseTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
  string selectedFairUseDateStrings = Json.Serialize(selectedFairUseList).ToString();

  string selectedRegularTrialDate = Model.SelectedRegularTrialDate?.ToString("yyyy-MM-dd") ?? "";

  string fairUseStartDate = Model.FairUseStartDate?.ToString("dddd, MMMM dd, yyyy");
  string fairUseStartTime = Model.FairUseStartDate?.ToString("h:mm tt").ToLower();
  string fairUseEndDate = Model.FairUseEndDate?.ToString("dddd, MMMM dd, yyyy");
  string fairUseEndTime = Model.FairUseEndDate?.ToString("h:mm tt").ToLower();
  string currentMonth = Model.FairUseEndDate?.ToString("MMMM");
  string nextMonth = Model.FairUseEndDate?.AddMonths(1).ToString("MMMM");

  string resultContactDate = Model.FairUseResultDate?.ToString("dddd, MMMM dd, yyyy");
  string noticeOfTrialDate = Model.FairUseNoticeDate?.ToString("dddd, MMMM dd, yyyy");

  bool fairUseUnavailable = Model.FairUseStartDate is null || Model.FairUseEndDate is null;
  bool fairUseDisabled = !fairUseUnavailable && (Model.FairUseStartDate.Value > DateTime.Now || Model.FairUseEndDate.Value < DateTime.Now);
}

<form method="post" id="availableTimesForm">

  @Html.HiddenFor(m => m.HearingTypeId)

  <div id="VueTrialTimeSelect" v-cloak>
    <trial-time-select-tabs initial-tab="@Model.TrialFormulaType" fair-use-unavailable="@fairUseUnavailable" fair-use-disabled="@fairUseDisabled">
      <regular-booking :dates="@availableRegularDates" :trial-length="@Model.SessionInfo.EstimatedTrialLength"
        initial-value="@selectedRegularTrialDate" slot="regularBooking">
        <div slot="noDatesError" class="alert alert-danger" role="alert">
          <i class="fa fa-ban"></i>
          There are currently no trial dates available at @Model.SessionInfo.BookingLocationName. Try again at a later
          time as more dates become available in the system.
        </div>
      </regular-booking>

      <fair-use-booking :dates="@availableFairUseDates" :trial-length="@Model.SessionInfo.EstimatedTrialLength"
        :initial-value="@selectedFairUseDateStrings" slot="fairUseBooking">
        <div slot="noDatesError" class="alert alert-danger" role="alert">
          <i class="fa fa-ban"></i>
          There are no dates set for the upcoming release. You can instantly book a trial date that is
          currently available in the system instead.
        </div>

        <template slot="datesInfo">
          <div class="step">
            <span class="number">1</span>
            <div class="description">
              <h4>@fairUseStartDate @fairUseStartTime</h4>
              <p>Period to provide trial availability opens.</p>
            </div>
          </div>

          <div class="step">
            <span class="number">2</span>
            <div class="description">
              <h4>@fairUseEndDate @fairUseEndTime</h4>
              <p>
                Period to provide trial date availability closes. The system will begin to set trial
                dates.
              </p>
            </div>
          </div>

          <div class="step">
            <span class="number">3</span>
            <div class="description">
              <h4>@resultContactDate</h4>
              <p>You will receive an email with the results of your request.</p>
            </div>
          </div>

          <div class="step">
            <span class="number">4</span>
            <div class="description">
              <h4>@noticeOfTrialDate</h4>
              <p>
                If a trial date is set for your case, you must file your Notice of Trial by
                @noticeOfTrialDate to secure the trial date.
              </p>
            </div>
          </div>

          <p class="mb-3">
            To learn more about this process, please visit
            <a target="_blank" href="https://www.bccourts.ca/">bccourts.ca</a> or call Supreme Court
            Scheduling at 604-660-2853.
          </p>
        </template>

        <template slot="dateSelectionHeader" slot-scope="{ maxSelectionSize }">
          <h6>@fairUseStartDate</h6>
          <p class="mb-3">
            Choose up to {{ maxSelectionSize }} starting dates. Some dates are not available due to
            statutory holidays or court closures.
          </p>
        </template>
      </fair-use-booking>

      <template slot="fairUseDisabledAlert">
        The @currentMonth booking period ended on @fairUseEndDate.
        The next booking period will open in @nextMonth.
      </template>
    </trial-time-select-tabs>
  </div>

  <div class="content-pad bg-white">
    <span asp-validation-for="SelectedRegularTrialDate" class="text-danger"></span>
    <span asp-validation-for="SelectedFairUseTrialDates" class="text-danger"></span>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-8 d-flex align-items-center text-link">
      <span>
        <i class="fas fa-long-arrow-alt-left"></i>
        <a asp-action="BookingType">Step 2: Choose Your Booking Type</a>
      </span>
    </div>
      <div class="col-6 col-md-4">
          @if (Model.AvailableFairUseTrialDates.Any() || Model.AvailableRegularTrialDates.Any())
          {
              <button type="submit" class="btn btn-secondary btn-block" id="btnNext">
                  Review Your Request
              </button>
          }
      </div>
  </div>
</form>
