@model ScAvailableTimesViewModel
@using SCJ.Booking.Data.Constants

@{
    List<string> regularDatesList = Model.AvailableRegularTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
    string availableRegularDates = Json.Serialize(regularDatesList).ToString();

    List<string> fairUseDatesList = Model.AvailableFairUseTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
    string availableFairUseDates = Json.Serialize(fairUseDatesList).ToString();

    List<string> selectedFairUseList = Model.SelectedFairUseTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
    string selectedFairUseDateStrings = Json.Serialize(selectedFairUseList).ToString();

    string selectedRegularTrialDate = Model.SelectedRegularTrialDate?.ToString("yyyy-MM-dd") ?? "";

    string fairUseStartDate = Model.FairUseStartDate?.ToString("dddd, MMMM dd, yyyy");
    string fairUseStartTime = Model.FairUseStartDate?.ToString("h:mm tt").ToLower();
    string fairUseEndDate = Model.FairUseEndDate?.ToString("dddd, MMMM dd, yyyy");
    string fairUseEndTime = Model.FairUseEndDate?.ToString("h:mm tt").ToLower();
    string currentMonth = Model.FairUseEndDate?.ToString("MMMM");
    string nextMonth = Model.FairUseEndDate?.AddMonths(1).ToString("MMMM");
    string bookingPeriodName = Model.FairUseSelectionDate?.ToString("MMMM yyyy");

    string resultContactDate = Model.FairUseResultDate?.ToString("dddd, MMMM dd, yyyy");

    bool fairUseUnavailable = Model.FairUseStartDate is null || Model.FairUseEndDate is null;
    bool fairUseDisabled = !fairUseUnavailable && (Model.FairUseStartDate.Value > DateTime.Now || Model.FairUseEndDate.Value
    < DateTime.Now);

    int ScMaxTrialDateSelections = ScGeneral.ScMaxTrialDateSelections;
    string ScMaxTrialDateSelectionsString = ScGeneral.ScMaxTrialDateSelectionsString;
}

<form method="post" id="availableTimesForm">

    @Html.HiddenFor(m => m.HearingTypeId)

    <div id="VueTrialTimeSelect" v-cloak>
        <trial-time-select-tabs initial-tab="@Model.TrialFormulaType" fair-use-unavailable="@fairUseUnavailable"
            fair-use-disabled="@fairUseDisabled">
            <regular-booking :dates="@availableRegularDates" :trial-length="@Model.SessionInfo.EstimatedTrialLength"
                initial-value="@selectedRegularTrialDate" slot="regularBooking">
                <div slot="noDatesError" class="alert alert-danger" role="alert">
                    <i class="fa fa-ban"></i>
                    There are currently no trial dates available at @Model.SessionInfo.BookingLocationName. Try again at
                    a later
                    time as more dates become available in the system.
                </div>
            </regular-booking>

            <fair-use-booking :dates="@availableFairUseDates" :trial-length="@Model.SessionInfo.EstimatedTrialLength"
                :initial-value="@selectedFairUseDateStrings" :max-selection-size="@ScMaxTrialDateSelections"
                slot="fairUseBooking">
                <template slot="mobileTabDescription">
                    Request up to @ScMaxTrialDateSelectionsString dates for a trial starting in the upcoming release of
                    dates.
                </template>

                <div slot="noDatesError" class="alert alert-danger" role="alert">
                    <i class="fa fa-ban"></i>
                    There are no dates set for the upcoming release. You can instantly book a trial date that is
                    currently available in the system instead.
                </div>

                <template slot="howItWorksDescription">
                    <p class="mb-3">
                        <strong>A trial date is not being booked at this stage.</strong> You are providing your
                        availability for a trial to start on <strong>one</strong> (out of a maximum of
                        @ScMaxTrialDateSelectionsString) of your requested dates for <b>@bookingPeriodName</b>.
                    </p>

                    <p class="mb-3">
                        <strong>The time of your submission has no bearing on the results of your request.</strong>
                    </p>
                </template>

                <template slot="datesInfo">
                    <div class="step">
                        <span class="number">1</span>
                        <div class="description">
                            <h4>
                                <span class="d-sm-inline-block">@fairUseStartDate @fairUseStartTime</span>
                                to
                                <span class="d-sm-inline-block">@fairUseEndDate @fairUseEndTime</span>
                            </h4>
                            <p>
                                Period to provide trial date availability for <b>@bookingPeriodName</b> dates.
                            </p>
                        </div>
                    </div>

                    <div class="step">
                        <span class="number">2</span>
                        <div class="description">
                            <h4>@resultContactDate</h4>
                            <p>You will receive an email with the results of your request.</p>
                        </div>
                    </div>

                    <div class="step">
                        <span class="number">3</span>
                        <div class="description">
                            <h4>If a trial date is set for your case</h4>
                            <p>
                                You must file your Notice of Trial within 30 days of receiving the confirmation email in
                                order to confirm the trial date.
                            </p>
                        </div>
                    </div>

                    <p class="mb-3">
                        To learn more about this process, please visit
                        <a target="_blank" href="https://www.bccourts.ca/supreme_court/scheduling/">bccourts.ca</a>
                        or call Supreme Court Scheduling at @Model.RegistryContactNumber.
                    </p>
                </template>

                <template slot="dateSelectionHeader" slot-scope="{ maxSelectionSize }">
                    <h6>@fairUseStartDate</h6>
                    <p class="mb-3">
                        Choose up to {{ maxSelectionSize }} starting dates. Some dates are not available due to
                        statutory holidays or court closures.
                    </p>
                </template>
            </fair-use-booking>

            <template slot="fairUseTabDescription">
                Request up to @ScMaxTrialDateSelectionsString dates for a trial starting in the upcoming release of
                dates.
            </template>

            <template slot="fairUseDisabledAlert">
                The @currentMonth booking period ended on @fairUseEndDate.
                The next booking period will open in @nextMonth.
            </template>

            <template slot="regularTabDescription">
                You can instantly book a trial date that is currently available in the system.
            </template>
        </trial-time-select-tabs>
    </div>

    <div class="content-pad bg-white">
        <span asp-validation-for="SelectedRegularTrialDate" class="text-danger"></span>
        <span asp-validation-for="SelectedFairUseTrialDates" class="text-danger"></span>
    </div>

    <div class="row no-gutters">
        <div class="col-6 col-md-8 d-flex align-items-center text-link">
            <span>
                <i class="fas fa-long-arrow-alt-left"></i>
                <a asp-action="BookingType">Step 2: Choose Your Booking Type</a>
            </span>
        </div>
        <div class="col-6 col-md-4">
            @if (Model.AvailableFairUseTrialDates.Any() || Model.AvailableRegularTrialDates.Any())
            {
                <button type="submit" class="btn btn-secondary btn-block" id="btnNext">
                    Review Your Request
                </button>
            }
        </div>
    </div>
</form>
