@model SCJ.Booking.MVC.ViewModels.ScCaseSearchViewModel

@{
  List<string> regularDatesList = Model.AvailableRegularTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
  string availableRegularDates = Json.Serialize(regularDatesList).ToString();

  List<string> fairUseDatesList = Model.AvailableFairUseTrialDates.Select(date => date.ToString("yyyy-MM-dd")).ToList();
  string availableFairUseDates = Json.Serialize(regularDatesList).ToString();
}

<form method="post" id="availableTimesForm">

  @Html.HiddenFor(m => m.HearingTypeId)
  @Html.HiddenFor(m => m.EstimatedTrialLength)

  <div id="VueTrialTimeSelect" v-cloak>
    <trial-time-select-tabs initial-tab="@Model.BookingFormula.ToString()">
      <regular-booking :dates="@availableRegularDates" :trial-length="@Model.EstimatedTrialLength"
        initial-value="@Model.SelectedRegularTrialDate" slot="regularBooking">
        <div slot="noDatesError" class="alert alert-danger" role="alert">
          <i class="fa fa-ban"></i>
          There are currently no trial dates available at @Model.BookingLocationName. Try again at a later
          time as more dates become available in the system.
        </div>
      </regular-booking>

      <fair-use-booking :dates="@availableFairUseDates" :trial-length="@Model.EstimatedTrialLength"
        slot="fairUseBooking">
        <div slot="noDatesError" class="alert alert-danger" role="alert">
          <i class="fa fa-ban"></i>
          There are no dates set for the upcoming release. You can instantly book a trial date that is
          currently available in the system instead.
        </div>
      </fair-use-booking>
    </trial-time-select-tabs>
  </div>

  <div class="content-pad bg-white">
    <span asp-validation-for="SelectedRegularTrialDate" class="text-danger"></span>
    <span asp-validation-for="SelectedFairUseTrialDates" class="text-danger"></span>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-8 d-flex align-items-center text-link">
      <span>
        <i class="fas fa-long-arrow-alt-left"></i>
        <a asp-action="BookingType">Step 2: Choose Your Booking Type</a>
      </span>
    </div>
    <div class="col-6 col-md-4">
      <button type="submit" class="btn btn-secondary btn-block">
        Confirm Time
      </button>
    </div>
  </div>
</form>
