@inject SelectListService SelectListService

@model ScCaseSearchViewModel

@{
    ViewData["Title"] = "Find the case for your booking";

    var courtCases = Model.Cases;
    var caseCount = courtCases?.Count ?? 0;
    var results = caseCount > 1 ? "results" : "result";
    if (!Model.IsConfirmingCase && caseCount == 1)
    {
        Model.SelectedCaseId = (int)courtCases.First().physicalFileId;
    }

    var caseNumTooltip = "Your Court File Number should not include any special characters and is just a number. If using a CSO file number (ex. VLC-S-M-12345), the class number matches the letter just before your number (M in example). The file number matches the last number (12345 in example).";
}

<div class="body-content--inner">
    <h5>4 steps to complete your booking</h5>
    <hr />
    <h6>Step 1</h6>
    <h2>Find the case for your booking</h2>
    <p>Before you can book a trial, chambers or hearing, use the following to find the case.</p>

    <form method="GET" action="~/booking/sc/search#caseCount">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="CaseRegistryId">Choose the registry where the file was created</label>
                    <select asp-for="CaseRegistryId" class="form-control registryOptions"
                            asp-items="SelectListService.SupremeLocations" required>
                        <option value="-1">-- Pick a registry --</option>
                    </select>
                    <span asp-validation-for="CaseRegistryId" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label for="courtClassDropdown" id="courtClassLabel">
                    Choose the court class (optional)
                </label>
                <select asp-for="SelectedCourtClass" class="form-control" id="courtClassDropdown" aria-label="Court classes" asp-items="SelectListService.ScCourtClasses">
                    <option value="">-- Pick a class --</option>
                </select>
            </div>
            <div class="form-group">
            <div class="align-tooltip">
                <label for="caseNoInput">What is the action number?</label>
                <span class="pl-2" tabindex="0" data-toggle="tooltip" data-html="true"
                    id="caseNumberTooltip"
                    title="<p>@caseNumTooltip</p>"
                    aria-label="@caseNumTooltip"
                    role="tooltip">
                    <i class="fas fa-question-circle"></i>
                </span>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <label for="caseNumberInput" class="small-label">
                        <small>Class</small>
                    </label>
                    <input class="form-control caseNumber" style="width: 48px;"
                        asp-for="SelectedCourtClass" id="caseNumberInput" readonly disabled />
                </div>
                <div style="flex: 0;">
                    <label for="caseNoInput" class="small-label">
                        <small>Number</small>
                    </label>
                    <input asp-for="CaseNumber" class="form-control caseNumber"
                        required id="caseNoInput" type="number" min="0" />
                    <span asp-validation-for="CaseNumber"
                    class="text-danger align-self-center"></span>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-6 col-md-3">
                <button type="submit" id="SearchForCase" class="btn btn-primary btn-block">
                    Search for case
                </button>
            </div>
        </div>
        </form>
        <form method="POST">
        @Html.HiddenFor(m => m.LocationPrefix)

        @if (caseCount > 0)
        {
            @for (int i = 0; i < Model.CaseSearchResults.Length; i++)
            {
                @Html.HiddenFor(m => m.CaseSearchResults[i].courtClassCode)
                @Html.HiddenFor(m => m.CaseSearchResults[i].courtFileNumber)
                @Html.HiddenFor(m => m.CaseSearchResults[i].styleOfCause)
                @Html.HiddenFor(m => m.CaseSearchResults[i].physicalFileId)
            }
            <h3 id="caseCount">@caseCount @results found</h3>
            <div class="col p-0">

                <div class="form-group">
                        @foreach (var courtCase in courtCases)
                        {
                            var caseId = (int)courtCase.physicalFileId;
                            var isChecked = courtCase.physicalFileId == Model.SelectedCaseId;
                            var fileNumber = courtCase.courtClassCode + courtCase.courtFileNumber;
                                <div class="search-results-case">
                                    <input type="radio" name="SelectedCaseId"
                                        @(isChecked ? "checked" : "")
                                        id="SelectedCaseId-@caseId" value="@caseId" />
                                    <label for="SelectedCaseId-@caseId">
                                        <div class="uppercase-sm">
                                            File Number: @Html.DisplayFor(m => m.LocationPrefix) @fileNumber
                                        </div>
                                        <h5>@courtCase?.styleOfCause</h5>
                                        <p>@ScCourtClass.GetCourtClass(courtCase.courtClassCode)</p>
                                    </label>
                                </div>
                        }

                    @if (Model.IsConfirmingCase && Model.SelectedCaseId == 0)
                    {
                        <span asp-validation-for="SelectedCaseId" id="ChooseACase"
                            class="text-danger"></span>
                    }
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-6 col-md-3 ml-auto">
                    <button formaction="case-selected" class="btn btn-secondary btn-block">
                        Confirm case
                    </button>
                </div>
            </div>
        }
        else if (Model.CaseRegistryId > 0)
        {
            <!-- No search results for case number-->
            <div class="row no-gutters no-search-results">
                <div class="col-12 col-lg-10">
                    <h3>No results found for @Model.CaseNumber</h3>
                    <div class="options-nextStep">
                        <h6>Is it the right Court File Number or Registry?</h6>
                        <p>
                            If this is not the correct Court File Number or Registry, you can change it and try again for available times. Ensure that your Court File Number does not contain any special characters. If using a CSO file number, exclude the first 4 characters (ex. VLC-S-M-12345 would be M12345).
                        </p>
                    </div>
                    <div class="options-nextStep">
                        <h6>Is this a Supreme Family or Civil case?</h6>
                        <p>
                            This online tool covers Family and Civil cases. If your case is not a Familiy or Civil case please <a target="_blank" href="https://www.bccourts.ca/supreme_court/scheduling/">contact @Model.CaseLocationName scheduling</a> <i class="fa fa-external-link-alt"></i>.
                        </p>
                    </div>
                    <div class="options-nextStep">
                        <h6>Need to contact your registry?</h6>
                        <p>
                            You can <a target="_blank" href="https://www.bccourts.ca/supreme_court/scheduling/">contact the registry</a> <i class="fa fa-external-link-alt"></i> where your file was created (indicated in your court filing documents).
                        </p>
                    </div>
                </div>
            </div>
            <!-- No search results for case number-->
        }
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
