@model ScAvailableTimesViewModel
@{
    ViewData["Title"] = "AvailableTimes";

    var bookingInfo = Model.SessionInfo;
}

<div class="body-content--inner">
    <div class="d-flex justify-content-between steps-link">
        <h5>4 steps to complete your booking</h5>
        <h6><a href="/scjob/booking/sc">Cancel</a></h6>
    </div>
    <hr />
    <h6>Step 3</h6>

    @if (@Model.HearingTypeId == @ScHearingType.TRIAL)
    {
        <h2>Choose Trial Date(s)</h2>
    }
    else
    {
        <h2>Book Your Hearing</h2>
    }

    <div style="margin-bottom: 30px">
        <div class="uppercase-sm">File Number: @bookingInfo.FullCaseNumber</div>
        <h5>@bookingInfo.SelectedCourtFile?.styleOfCause</h5>
        <p>@bookingInfo.SelectedCourtClassName</p>
    </div>

    @if (@Model.HearingTypeId == @ScHearingType.TRIAL)
    {
        <partial name="Partial/AvailableTimes/_Trial" model="Model" />

        @section Styles {
            <link rel="stylesheet" href="/scjob/dist/vue/TrialTimeSelect.js.css" asp-append-version="true" />
        }

        @section Scripts {
            <script src="/scjob/dist/vendor.js" asp-append-version="true"></script>
            <script src="/scjob/dist/vue/TrialTimeSelect.js" asp-append-version="true"></script>
        }
    }
    else if (Model.AvailableDates == null || !Model.AvailableDates.Any())
    {
        var location = Model.SessionInfo.BookingLocationName;

        <div class="alert alert-danger" role="alert">
            <i class="fa fa-ban"></i>
            <p>
                <b>There are currently no available times for this hearing in @location.</b><br />
                Please contact the registry in @location for assistance and available options.
            </p>
        </div>

        <div class="row no-gutters">
            <div class="col-6 col-md-8 d-flex align-items-center text-link">
                <span>
                    <i class="fas fa-long-arrow-alt-left"></i>
                    <a asp-action="BookingType">Step 2: Choose Your Booking Type</a>
                </span>
            </div>
            <div class="col-6 col-md-4">
                @* No next step in this error state *@
            </div>
        </div>
    }
    else
    {
        var availableDates = Json.Serialize(Model.AvailableDates);
        Model.SelectedDate = Model.FirstAvailableDate;

        @section Scripts {
        <script src="/scjob/dist/vendor.js" asp-append-version="true"></script>
        <script src="/scjob/dist/vue/HearingTimeSelect.js" asp-append-version="true"></script>
        <script src="/scjob/dist/lib/bootstrap-datepicker.js" asp-append-version="true"></script>
        <script type="text/javascript">
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd',
                weekStart: 0,
                autoclose: true,
                todayHighlight: true,
                startDate: @Json.Serialize(Model.FirstAvailableDate),
                defaultViewDate: @Json.Serialize(Model.FirstAvailableDate),
                clearBtn: true,
                endDate: @Json.Serialize(Model.LastAvailableDate),
                datesDisabled: @Json.Serialize(Model.DisabledDates)
                    }).on('changeDate', function (event) {
                    var selectedDate = event.format();
                    var dates = @availableDates;
                    if (dates) {
                        var i = dates.toString().split(',').indexOf(selectedDate);
                        $('#selectedDate').val(i);
                        $("#slideBtn").click();
                    }
                    $("#datepicker").html(selectedDate);
                });
        </script>
        }

        <partial name="Partial/AvailableTimes/_Conference" model="Model" />
    }
</div>
