@model SCJ.Booking.MVC.ViewModels.ScCaseSearchViewModel

@{
    ViewData["Title"] = "AvailableTimes";
}

<div>
    <div class="my-3">
        <a asp-action="ConferenceType">Step 2: Choose Conference Type</a>
    </div>
    <h5>4 steps to complete your booking</h5>
    <h1 class="mb-1">Step 3: Book Your Hearing</h1>

    <form method="post">
        <div class="my-3">
            <b>@(Model.SelectedCourtFile?.styleOfCause ?? "No Style of Cause?")</b>
            <div>
                @Model.SelectedCourtClassName 
            </div>
            <div>File Number: @Model.FileNumber</div>
        </div>

        <p class="font-weight-bold">Available Times in @Model.BookingLocationName</p>
        <p>Please choose a time below for your <b>@Model.HearingTypeName</b>.</p>
        <p>
            @ScHearingType.GetHearingType(Model.HearingTypeId)s are booked for
            @Model.HearingLengthMinutes minutes only.
        </p>

        <div class="">
            <div class="input-group date mx-auto" style="width: 236px;"> 
                @Html.TextBox("SelectedDate", Model.SelectedDate, new {
                    @class = "form-control",
                    @id = "datepicker",
                    @type = "text",
                    placeholder = "Jump to a specific date",
                    autocomplete = "off" })
                <div class="input-group-append">
                    @*<span class="input-group-text"><i class="fa fa-th"></i></span>*@
                    <button class="btn btn-outline-secondary" type="button" id="dateBtn">
                        <i class="fa fa-th"></i>
                    </button>
                </div>
            </div>
            @*<input type="text" class="form-control w-25 mx-auto"
                   onfocus="(this.type='date')"
                   onblur="(this.type='text')"
                   placeholder="Jump to a specific date" />*@
        </div>

        <div id="VueAvailableTimes" class="availableTimesContainer">
            <availabletimes :location-id="@Model.BookingRegistryId"
                            :hearing-type="@Model.HearingTypeId">
            </availabletimes>
        </div>

        @for (int i = 0; i < Model.CourtFiles?.Length; i++)
        {
            @Html.HiddenFor(m => m.CourtFiles[i].courtClassCode)
            @Html.HiddenFor(m => m.CourtFiles[i].courtFileNumber)
            @Html.HiddenFor(m => m.CourtFiles[i].styleOfCause)
            @Html.HiddenFor(m => m.CourtFiles[i].physicalFileId)
            @Html.HiddenFor(m => m.CourtFiles[i].courtLevelCode)
        }
        @for (int i = 0; i < Model.AvailableConferenceTypeIds?.Count; i++)
        {
            @Html.HiddenFor(m => m.AvailableConferenceTypeIds[i])
        }
        @Html.HiddenFor(m => m.SelectedCaseId)
        @Html.HiddenFor(m => m.LocationPrefix)
        @Html.HiddenFor(m => m.HearingTypeName)
        @Html.HiddenFor(m => m.BookingLocationName)
        <input type="hidden" asp-for="SelectedCaseDate" id="hidDate"/>
        <input type="hidden" asp-for="ContainerId" id="hidContainerId"/>
        <div class="text-danger pb-3">@* hidden*@
            @*Please choose from one of the available times.*@
            <span asp-validation-for="ContainerId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">
            Choose Time
        </button>
    </form>

@*    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HearingTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HearingTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HearingTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HearingTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValidCaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValidCaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotExpired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotExpired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRegistryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRegistryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseLocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseLocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingRegistryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingRegistryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingLocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingLocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotFriendlyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotFriendlyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedCaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedCaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedCourtClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedCourtClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistryContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistryContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullCaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullCaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedCaseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedCaseId)
        </dd>
    </dl>*@
</div>

@section Scripts {
    <script src="/scjob/dist/vendor.js" asp-append-version="true"></script>
    <script src="/scjob/dist/vue/booking-casesearch.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var today = new Date();
        var month = today.getMonth();
        //alert(`${currMonth} ${today.getDate()}`);
        $('#datepicker').datepicker({
            beforeShowDay: function(d) {
                return d.getMonth() === month;
            },
            format: 'yyyy-mm-dd',
            weekStart: 0,
            autoclose: true,
            todayHighlight: true,
            startDate: today,
            endDate: @Json.Serialize(Model.LastAvailableDate),
            datesDisabled: @Json.Serialize(Model.DisabledDates) // ['2022-02-21', '2022-02-24'] 
        }).on('changeMonth', function(e) {
          //console.log("I've just changed month to " + e.date.getMonth());
          month = e.date.getMonth();
        }).on('changeDate', function() {
            //alert($('#datepicker').datepicker('getFormattedDate'));
            var selectedDate = $('#datepicker').val();
            var dates = @Json.Serialize(Model.AvailableDates);
            var i = dates.toString().split(',').indexOf(selectedDate);
            $('#selectedDate').val(i);
            $("#slideBtn").click();
        });
    </script>
}
