@model SCJ.Booking.MVC.ViewModels.ScCaseSearchViewModel

@{
    ViewData["Title"] = "AvailableTimes";
}

<div>
    <div class="mb-5">
        <i class="fas fa-arrow-left"></i>
        <a asp-action="ConferenceType">Step 2: Choose Conference Type</a>
    </div>
    <h3>4 steps to complete your booking</h3>
    <h1 class="my-2">Step 3: Book Your Hearing</h1>

    <form method="post">
        <div class="my-4">
            <b>@(Model.SelectedCourtFile?.styleOfCause ?? "No Style of Cause?")</b>
            <div>
                @Model.SelectedCourtClassName 
            </div>
            <div>File Number: @Model.FileNumber</div>
        </div>

        <h2 class="font-weight-bold">Available Times in @Model.BookingLocationName</h2>
        <p class="mb-1">Please choose a time below for your <b>@Model.HearingTypeName</b>.</p>
        <p>
            @ScHearingType.GetHearingType(Model.HearingTypeId)s are booked for
            @Model.HearingLengthMinutes minutes only.
        </p>

        <div class="mt-4">
            <div class="input-group date mx-auto" style="width: 236px;"> 
                @Html.TextBox("SelectedDate", Model.SelectedDate, new {
                    @class = "form-control",
                    @id = "datepicker",
                    @type = "text",
                    @readonly = "readonly",
                    placeholder = "Jump to a specific date",
                    autocomplete = "off" })
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary mb-0" type="button" id="dateBtn">
                        <i class="fa fa-th"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="VueAvailableTimes" class="availableTimesContainer">
            <availabletimes :location-id="@Model.BookingRegistryId"
                            :hearing-type="@Model.HearingTypeId">
            </availabletimes>
        </div>

        @for (int i = 0; i < Model.CourtFiles?.Length; i++)
        {
            @Html.HiddenFor(m => m.CourtFiles[i].courtClassCode)
            @Html.HiddenFor(m => m.CourtFiles[i].courtFileNumber)
            @Html.HiddenFor(m => m.CourtFiles[i].styleOfCause)
            @Html.HiddenFor(m => m.CourtFiles[i].physicalFileId)
            @Html.HiddenFor(m => m.CourtFiles[i].courtLevelCode)
        }
        @for (int i = 0; i < Model.AvailableConferenceTypeIds?.Count; i++)
        {
            @Html.HiddenFor(m => m.AvailableConferenceTypeIds[i])
        }
        @Html.HiddenFor(m => m.SelectedCaseId)
        @Html.HiddenFor(m => m.LocationPrefix)
        @Html.HiddenFor(m => m.HearingTypeName)
        @Html.HiddenFor(m => m.BookingLocationName)
        @Html.HiddenFor(m => m.BookingRegistryId)
        @Html.HiddenFor(m => m.CaseRegistryId)
        @Html.HiddenFor(m => m.HearingTypeId)
        <input type="hidden" asp-for="SelectedCaseDate" id="hidDate"/>
        <input type="hidden" asp-for="ContainerId" id="hidContainerId"/>
        <div class="text-danger">
            <span asp-validation-for="ContainerId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4 mb-0">
            Choose Time
        </button>
    </form>
</div>

@section Scripts {
    <script src="/scjob/dist/vendor.js" asp-append-version="true"></script>
    <script src="/scjob/dist/vue/booking-casesearch.js" asp-append-version="true"></script>
    <script src="/scjob/dist/lib/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 0,
            autoclose: true,
            todayHighlight: true,
            startDate: @Json.Serialize(Model.FirstAvailableDate),
            defaultViewDate: @Json.Serialize(Model.FirstAvailableDate),
            clearBtn: true,
            endDate: @Json.Serialize(Model.LastAvailableDate),
            datesDisabled: @Json.Serialize(Model.DisabledDates) // ['2022-02-21', '2022-02-24'] 
        }).on('changeDate', function() {
            var selectedDate = $('#datepicker').val();
            var dates = @Json.Serialize(Model.AvailableDates);
            if (dates) {
                var i = dates.toString().split(',').indexOf(selectedDate);
                $('#selectedDate').val(i);
                $("#slideBtn").click();
            }
        });
    </script>
}
