@using Microsoft.Extensions.Configuration
@model CaseConfirmViewModel
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Your Booking is Confirmed";
}

<div class="row screen-intro">
    <div class="col-md-12">
        @if (Model.IsBooked)
        {
            <h1>@ViewData["Title"]</h1>
            <p>The booking for your conference hearing is confirmed.</p>
            <p>The following details will be sent to you by email.</p>
        }
        else
        {
            <h1>Error</h1>
            <p>There was an error confirming your booking.</p>
            <p>The following message was returned by the scheduling system.</p>
        }
    </div>
</div>

@if (!Model.IsBooked)
{
    <div class="alert alert-danger">
        @Model.RawResult
    </div>
}
else
{
    <div class="row booking-confirmation">
        <div class="content col-md-6">
            @if (!Model.IsUserKnown)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="fas fa-exclamation-triangle"></i>
                            Please logout and login again, your session was lost. 
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="font-weight-bold">Type of Conference Hearing</label>
                        <div>
                            <label>@Model.HearingTypeName</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Registry Name</label>
                        <div>
                            <label>@Model.LocationName</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Court File Number</label>
                        <div>
                            <label>@Model.CaseNumber</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Date and Time of Conference Hearing</label>
                        <div>
                            <label>@Model.Date</label>
                        </div>
                        <div>
                            <label>@Model.Time</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">E-mail address</label>
                        <div>
                            <label>@Model.EmailAddress</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Phone</label>
                        <div>
                            <label>@Model.Phone</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Next Steps Before Your Hearing
                        </div>
                        <div class="card-body">
                            <p>TBD: Instructions on filing documents</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row booking-new">
    <div class="content col-lg-6">
        <a href="/scjob/booking/sc/CaseSearch" class="btn btn-primary btn-lg">Book Another Hearing</a>
    </div>
</div>
<div class="row booking-logout">
    <div class="content col-md-12">
        <label class="font-weight-bold">Finished booking?</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Configuration["AppSettings:LogoutUrl"]">Log out of the BC Courts Booking System</a>
    </div>
</div>
