@inject ScBookingService service
@model ScCaseSearchViewModel

@{
    ViewData["Title"] = "Book Your Hearing - TMC";
}

<div class="row screen-intro">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <p>Before we can bring back available times for the hearing, we’ll need to know the following.</p>
    </div>
</div>

<!-- Search filter-->
<div class="row search-container">
    <div class="col col-md-12">
        <form method="post" action="/scjob/booking/sc/CaseSearch" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">
            <input type="hidden" asp-for="SelectedCaseDate" id="hidDate"/>
            <input type="hidden" asp-for="ContainerId" id="hidContainerId"/>
            <input type="hidden" asp-for="TimeSlotExpired" />
            <input type="hidden" asp-for="HearingTypeId" />
            <div class="row search-info">
                <div class="col-md-6 form-group">
                    <label for="ddlLocation">Pick the registry where the file was created.</label>
                    <select asp-for="SelectedRegistryId" class="form-control registryOptions" id="ddlLocation" asp-items="@Model.RegistryOptions" required>
                        <option value="">-- Pick a registry --</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide the registry the file was created at.
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="txtCaseNumber">What is the court file number for the case?</label>
                    <div class="align-tooltip">
                        <div>
                            <input asp-for="CaseNumber" class="form-control caseNumber" required id="txtCaseNumber" />
                            <div class="invalid-feedback">
                                Please provide a Court File Number.
                            </div>
                        </div>
                        <span class="pl-2" tabindex="0" data-toggle="tooltip" data-html="true" title="<p>Your court file number should not include any special characters. If using a CSO file number, ensure that the class number is prepended to the file number without a hyphen and exclude the first four characters (ex. VLC-S-M-12345 would be M12345)</p>" aria-label="Your court file number should not include any special characters. If using a CSO file number, ensure that the class number is prepended to the file number without a hyphen and exclude the first four characters (ex. VLC-S-M-12345 would be M12345)">
                            <i class="fas fa-question-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg" id="btnSearch">Show Available Times</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Search filter-->

@if (service.GetUserHearingsTotalRemaining() <= 0)
{
    <!-- No more bookings remaining for today-->
    <div class="row">
        <div class="col col-md-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                You've used all your bookings for today. You can book up to @ScBookingService.MaxHearingsPerDay
                hearings each day. You can book @ScBookingService.MaxHearingsPerDay more hearings tomorrow.
            </div>
        </div>
    </div>
}
else
{
    if (Context.Request.Method == "POST")
    {
        <hr class="results-linebreak"/>
        if (Model.TimeSlotExpired)
        {
            <div class="row">
                <div class="col col-md-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <i class="fas fa-exclamation-triangle"></i>
                        Someone just booked a hearing on @Model.TimeSlotFriendlyName and it is no longer available. Please choose another time for your hearing.
                    </div>
                </div>
            </div>
        }

        if (!Model.IsValidCaseNumber)
        {
            <!-- No search results for case number-->
            <div class="no-search-results">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="fas fa-exclamation-triangle"></i>
                            We could not find the case for @Model.CaseNumber<span>.</span>
                        </div>
                    </div>
                </div>
                <div class="row options-nextStep">
                    <div class="col col-md-4 col-sm-12 col-12 booking-same-height-item">
                        <div class="card bg-light">
                            <div class="card-header card-header-center">Is it the right Court File Number or Registry?</div>
                            <div class="card-body">
                                <p class="card-text">
                                    If this is not the correct Court File Number or Registry, you can change it and try again for available times. <br/> Ensure that your Court File Number does not contain any special characters.<br /> If using a CSO file number, exclude the first 4 characters (ex. VLC-S-M-12345 would be M12345).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12 col-12 booking-same-height-item">
                        <div class="card bg-light">
                            <div class="card-header card-header-center">Is this a Supreme Family or Civil case?</div>
                            <div class="card-body">
                                <p class="card-text">
                                    This online tool covers Family and Civil cases. If your case is not a Familiy or Civil case please contact @Model.SelectedRegistryName scheduling at @Model.RegistryContactNumber.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12 col-12 booking-same-height-item">
                        <div class="card bg-light">
                            <div class="card-header card-header-center">Need to contact your registry?</div>
                            <div class="card-body">
                                <p class="card-text">
                                    You can contact the registry for which your hearing is associated (indicated in your court filing documents); <br />to contact @Model.SelectedRegistryName please call @Model.RegistryContactNumber.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- No search results for case number-->
        }
        else if (Model.Results.AvailableDates.Any())
        {
            <!-- Booking times-->
            <div class="row">
                <div class="col col-md-12">
                    <div class="float-left">
                        <h2>Available Times in @Model.SelectedRegistryName</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <p>Please select a date/time below for your TMC.</p>
                    @if (!string.IsNullOrEmpty(Model.Results.BookingDetails.bookingNotes))
                    {
                        <p>@Model.Results.BookingDetails.bookingNotes</p>
                    }
                </div>
            </div>
            <div id="VueAvailableTimes" class="availableTimesContainer">
                <availabletimes :location-id="@Model.SelectedRegistryId"
                                :hearing-type="@Model.HearingTypeId">
                </availabletimes>
            </div>
            <div class="row">&nbsp;</div>
        }
        else
        {
            <!-- No available times for this hearing - next steps-->
            <div class="no-available-times">
                <h2>There are currently no available times for this hearing in [Location].</h2>
                <div class="row">
                    <div class="col col-md-4 col-sm-12 col-12">
                        <div class="card bg-light mb-3">
                            <div class="card-header">[Next Step 1]</div>
                            <div class="card-body">
                                <p class="card-text">
                                    [TBD]
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12 col-12">
                        <div class="card bg-light mb-3">
                            <div class="card-header">[Next Step 2]</div>
                            <div class="card-body">
                                <p class="card-text">
                                    [TBD]
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12 col-12">
                        <div class="card bg-light mb-3">
                            <div class="card-header">[Next Step 3]</div>
                            <div class="card-body">
                                <p class="card-text">
                                    [TBD]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- No available times for this hearing - next steps-->
        }
    }
}

@section Scripts {
    <script src="/scjob/dist/vendor.js" asp-append-version="true"></script>
    <script src="/scjob/dist/vue/booking-casesearch.js" asp-append-version="true"></script>
}
