@using Microsoft.Extensions.Configuration
@inject SessionService SessionService
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Your Booking is Confirmed";

    var hearingType = ScHearingType.GetHearingType(SessionService.ScBookingInfo.HearingTypeId);
}

<div>
    <div class="row screen-intro">
        <div class="col-md-8">
            @if (SessionService.ScBookingInfo.IsBooked)
            {
                <h2 class="blue">
                    @ViewData["Title"]
                    @*The <span>@SessionService.ScBookingInfo.HearingTypeName</span>
                    has been scheduled for the date and time below.*@
                </h2>
                <p>
                    Your @hearingType has been scheduled for the date and time below. 
                </p>
                <p>
                    @if (@hearingType == "TMC")
                    {
                        <span>Please file a requisition to secure @hearingType date.</span>
                    } else {
                        <span>Please file a Notice of @hearingType to secure the date.</span>
                    }
                    <span>
                        Consult the
                        <a href="https://www.bccourts.ca/supreme_court/practice_and_procedure/acts_rules_and_forms/" target="_blank">Supreme Court Rules</a>
                        for additional details.
                    </span>
                    <b>
                        Please ensure to provide all email addresses and phone numbers for counsel or
                        self-represented parties in your filed document.
                    </b>
                </p>
                <p>The following information will be sent to you by email.</p>
            }
            else
            {
                <h1>Error</h1>
                <p>There was an error confirming your booking.</p>
                <p>The following message was returned by the scheduling system.</p>
            }
        </div>
    </div>

    @if (!SessionService.ScBookingInfo.IsBooked)
    {
        <div class="alert alert-danger">
            @SessionService.ScBookingInfo.RawResult
        </div>
    }
    else
    {
        <div class="row booking-confirmation">
            <div class="col-md-6">
                @if (string.IsNullOrEmpty(SessionService?.UserInfo?.ContactName))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <i class="fas fa-exclamation-triangle"></i>
                                Please logout and login again, your session was lost. 
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-12">
@*                        <div class="form-group">
                            <label class="font-weight-bold">Type of Conference Hearing</label>
                            <div>
                                <span>@SessionService.ScBookingInfo.HearingTypeName</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Registry Name</label>
                            <div>
                                <span>@SessionService.ScBookingInfo.CaseLocationName Law Courts</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Court File Number</label>
                            <div>
                                <span>@SessionService.ScBookingInfo.CaseNumber</span>
                            </div>
                        </div>
                        @if (SessionService.ScBookingInfo.BookingLocationName != SessionService.ScBookingInfo.CaseLocationName)
                        {
                            <div class="form-group">
                                <label class="font-weight-bold">Centralized Hearing Location</label>
                                <div>
                                    <span>@SessionService.ScBookingInfo.BookingLocationName Law Courts</span>
                                </div>
                            </div>
                        }*@
                        <div class="form-group">
                            <b>@(SessionService.ScBookingInfo.SelectedCourtFile?.styleOfCause ?? "No Style of Cause?")</b>
                            <div>
                                @SessionService.ScBookingInfo.SelectedCourtClassName
                            </div>
                            <div>File Number: @SessionService.ScBookingInfo.FileNumber</div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold mb-0">Hearing Date</label>
                            <div>
                                @SessionService.ScBookingInfo.DateFriendlyName
                            </div>
                            <div>
                                <span>@SessionService.ScBookingInfo.TimeSlotFriendlyName</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-0">Contact Information</label>
                            <div>
                                <span>@SessionService.UserInfo.Email</span>
                            </div>
                            <div>
                                <span>@SessionService.UserInfo.Phone</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row booking-new">
        <div class="content col-lg-6">
            <a href="/scjob/booking/sc" class="btn btn-primary btn-lg">Book Another Hearing</a>
        </div>
    </div>
    <div class="row booking-logout">
        <div class="content col-md-12">
            <label>Finished booking?</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Configuration["AppSettings:LogoutUrl"]">Log out of the BC Courts Booking System</a>
        </div>
    </div>
</div>

@{
    SessionService.ScBookingInfo = null;
}
