@using Microsoft.Extensions.Configuration
@inject SessionService SessionService
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Your Booking is Confirmed";

    var hearingType = ScHearingType.GetHearingType(SessionService.ScBookingInfo.HearingTypeId);
}

<div>
    <div class="row screen-intro">
        <div class="col-md-8">
            @if (SessionService.ScBookingInfo.IsBooked)
            {
                <h1 class="blue">
                    @ViewData["Title"]
                </h1>
                <p>
                    Your @hearingType has been scheduled for the date and time below. 
                </p>
                <p>
                    @if (@hearingType == "TMC")
                    {
                        <span>Please file a requisition to secure @hearingType date.</span>
                    } else {
                        <span>Please file a Notice of @hearingType to secure the date.</span>
                    }
                    <span>
                        Consult the
                        <a href="https://www.bccourts.ca/supreme_court/practice_and_procedure/acts_rules_and_forms/" target="_blank">Supreme Court Rules</a>
                        <i class="fa fa-external-link-alt"></i> for additional details.
                    </span>
                    <b>
                        Please ensure to provide all email addresses and phone numbers for counsel or
                        self-represented parties in your filed document.
                    </b>
                </p>
                <p class="mb-0">The following information will be sent to you by email.</p>
            }
            else
            {
                <h1>Booking Could Not Be Completed</h1>
                <div class="alert alert-danger font-weight-bold">
                    <i class="fas fa-exclamation-circle"></i>
                    There was an error confirming your booking.
                </div>
                <p>
                    Please contact the applicable
                    <a href="https://www.bccourts.ca/supreme_court/scheduling/" target="_blank">
                        Supreme Court scheduling office by telephone
                    </a> for next steps.
                </p>
                <p>For your reference, here is the information for the booking that was not completed.</p>
            }
        </div>
    </div>

        <div class="row booking-confirmation my-4">
            <div class="col-md-6">
                @if (string.IsNullOrEmpty(SessionService?.UserInfo?.ContactName))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <i class="fas fa-exclamation-triangle"></i>
                                Please logout and login again, your session was lost. 
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <b>@SessionService.ScBookingInfo.SelectedCourtFile?.styleOfCause</b>
                            <div>
                                @SessionService.ScBookingInfo.SelectedCourtClassName
                            </div>
                            <div>File Number: @SessionService.ScBookingInfo.FileNumber</div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold mb-0">Hearing Date</label>
                            <div>
                                @SessionService.ScBookingInfo.DateFriendlyName
                            </div>
                            <div>
                                <span>@SessionService.ScBookingInfo.TimeSlotFriendlyName</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-0">Contact Information</label>
                            <div>
                                <span>@SessionService.UserInfo.Email</span>
                            </div>
                            <div>
                                <span>@SessionService.UserInfo.Phone</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row booking-new">
        <div class="col">
            <a class="btn btn-primary mb-0"
               href="/scjob/booking/sc" role="button">
               Book Another Hearing
            </a>
        </div>
    </div>
    <div class="row booking-logout mt-4">
        <div class="col">
            <label>Finished booking?</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="@Configuration["AppSettings:LogoutUrl"]">Log out of the BC Courts Booking System</a>
        </div>
    </div>
</div>

@{
    SessionService.ScBookingInfo = null;
}
