@inject SessionService SessionService
@model ScCaseConfirmViewModel

@{
    ViewData["Title"] = "Step 4: Complete Your Booking";
}

<div>
    <div class="row screen-intro">
        <div class="col-lg-8 paragraph">
            <div class="mb-5">
                <i class="fas fa-arrow-left"></i>
                <a asp-action="AvailableTimes">Step 3: Book Your Hearing</a>
            </div>
            <h3>4 steps to complete your booking</h3>
            <h1 class="my-2">@ViewData["Title"]</h1>
            <p>
                Please review that the following information is accurate before confirming your booking.
                Once you confirm your booking, the time will be reserved for your conference hearing.
            </p>
            <h2 class="mt-5 mb-4">Review Booking Details</h2>
        </div>
    </div>

    <div class="row booking-confirmation">
        <div class="col-lg-8">
            <form method="post" class="form-horizontal needs-validation" role="form"
                  novalidate autocomplete="off">
                <input type="hidden" asp-for="HearingTypeName" />
                <input type="hidden" asp-for="CaseLocationName" />
                <input type="hidden" asp-for="CaseNumber" />
                <input type="hidden" asp-for="Date" />
                <input type="hidden" asp-for="Time" />
                <input type="hidden" asp-for="FullDate" />
                @Html.HiddenFor(m => m.BookingLocationName)
                @Html.HiddenFor(m => m.BookingRegistryId)
                @Html.HiddenFor(m => m.CaseRegistryId)
                @Html.HiddenFor(m => m.ContainerId)

                <div class="form-group">
                    <b>@(SessionService.ScBookingInfo.SelectedCourtFile?.styleOfCause ?? "No Style of Cause?")</b>
                    <div>
                        @SessionService.ScBookingInfo.SelectedCourtClassName 
                    </div>
                    <div>File Number: @SessionService.ScBookingInfo.FileNumber</div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold mb-0">Hearing Date</label>
                    <div>
                        <span>@Model.HearingTypeName</span>
                    </div>
                    <div>
                        <span>@Model.Date</span>
                    </div>
                    <div>
                        <span>@Model.Time</span>
                    </div>
                </div>

                <div class="form-group">
                    <h2 class="mt-5 mb-4">Provide Your Contact Information</h2>
                    <p>
                        We will contact you regarding this booking. Please provide the following
                        contact information.
                    </p>
                    <label class="font-weight-bold" asp-for="EmailAddress">Email address:</label>
                    <input type="email" asp-for="EmailAddress" required class="form-control mb-2" />
                    <div class="invalid-feedback">
                        Please provide your email address.
                    </div>
                    <div class="invalid-field-message">
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="font-weight-bold">Phone number (format: xxx-xxx-xxxx):</label>
                    <input type="tel" asp-for="Phone" required class="form-control phone-input mb-2"
                        pattern="\d{3}[\-]\d{3}[\-]\d{4}" />
                    <div class="invalid-feedback">
                        Please provide your phone number.
                    </div>
                    <div class="invalid-field-message">
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>

                <div class="form-group d-flex align-items-baseline flex-wrap flex-sm-nowrap mt-4 mb-0">
                    <button type="submit" class="btn btn-primary btn-block progress-spinner" id="btnSearch">
                        Confirm Booking
                    </button>
                    <a href="/scjob/booking/sc">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
