@model SCJ.Booking.MVC.ViewModels.ScCaseSearchViewModel

@{
    ViewData["Title"] = "ConferenceType";
}

<div class="my-5">
    <div class="my-3">
        <a asp-action="index" asp-route-s="false">Step 1: Find the Case for Your Hearing</a>
        @*<a href='javascript:history.go(-1)'>Step 1: Find the Case for Your Hearing</a>*@
        @*<a href="##" onClick="history.go(-1); return false;">Step 1: Find the Case for Your Hearing</a>*@
    </div>

    <h5>4 steps to complete your booking</h5>
    <h1>Step 2: Choose a Conference Type</h1>

    <form method="post">
        @Html.HiddenFor(m => m.FullCaseNumber)
        @Html.HiddenFor(m => m.SelectedCaseId)
        @Html.HiddenFor(m => m.SelectedCourtClass)
        @Html.HiddenFor(m => m.LocationPrefix)
        @for (int i = 0; i < Model.AvailableConferenceTypeIds?.Count; i++)
        {
            @Html.HiddenFor(m => m.AvailableConferenceTypeIds[i])
        }
        @for (int i = 0; i < Model.CourtFiles?.Length; i++)
        {
            @Html.HiddenFor(m => m.CourtFiles[i].courtClassCode)
            @Html.HiddenFor(m => m.CourtFiles[i].courtFileNumber)
            @Html.HiddenFor(m => m.CourtFiles[i].styleOfCause)
            @Html.HiddenFor(m => m.CourtFiles[i].physicalFileId)
            @Html.HiddenFor(m => m.CourtFiles[i].courtLevelCode)
        }

        <div class="my-4">
            <b>@(Model.SelectedCourtFile?.styleOfCause ?? "No Style of Cause?")</b>
            <div>
                @Model.SelectedCourtClassName 
            </div>
            <div>File Number: @Model.FileNumber</div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group conference-type-selection bg-light">
                <b>Choose a conference type</b>
                <div class="btn-radio-group form-group">
                    @foreach (var hearingTypeId in Model.AvailableConferenceTypeIds)
                    {
                        if (hearingTypeId == ScHearingType.CPC)
                        {
                            <div class="form-check">
                                <input asp-for="HearingTypeId" class="form-check-input" type="radio"
                                id="CPC" name="HearingTypeId"
                                value="@ScHearingType.CPC">
                                <label for="CPC" class="form-check-label">Case Planning Conference (CPC)</label>
                            </div>
                        }
                        else if (hearingTypeId == ScHearingType.JCC)
                        {
                            <div class="form-check">
                                <input asp-for="HearingTypeId" class="form-check-input" type="radio"
                                    id="JCC" name="HearingTypeId"
                                    value="@ScHearingType.JCC">
                                <label for="JCC" class="form-check-label">Judicial Case Conference (JCC)</label>
                            </div>
                        }
                        else if (hearingTypeId == ScHearingType.TMC)
                        {
                            <div class="form-check">
                                <input asp-for="HearingTypeId" class="form-check-input" type="radio"
                                    id="TMC" name="HearingTypeId"
                                    value="@ScHearingType.TMC">
                                <label for="TMC" class="form-check-label">Trial Management Conference (TMC)</label>
                            </div>                            
                        }
                    }
                </div>
                <div>
                    <a href="https://www.bccourts.ca/supreme_court/scheduling" target="_blank">
                        Contact the applicable Supreme Court scheduling office
                    </a> by telephone for conference types not listed.
                </div>
            </div>
        </div>

        @if (Model.HearingTypeId == -1)
        {
            <div class="row px-3 pb-3 pt-0">
                <span asp-validation-for="HearingTypeId" class="text-danger"></span>
            </div>
        }

        <button type="submit"
                class="btn btn-primary">@* asp-action="conference-type" asp-controller="booking/sc"*@
                Show Available Times
        </button>
    </form>
</div>
