@model SCJ.Booking.MVC.ViewModels.ScCaseSearchViewModel

@{
    ViewData["Title"] = "ConferenceType";

    if (Model.AvailableConferenceTypeIds.Count == 1)
    {
        Model.HearingTypeId = Model.AvailableConferenceTypeIds.First();
    }
}

<div class="body-content--inner">
    <div class="d-flex justify-content-between steps-link">
        <h5>4 steps to complete your booking</h5>
        <h6><a href="/scjob/booking/sc">Cancel</a></h6>
    </div>
    <hr />
    <h6>Step 2</h6>
    <h2>Choose a Conference Type</h2>

    <form method="post">
        @Html.HiddenFor(m => m.FullCaseNumber)
        @Html.HiddenFor(m => m.SelectedCaseId)
        @Html.HiddenFor(m => m.SelectedCourtClass)
        @Html.HiddenFor(m => m.LocationPrefix)
        @for (int i = 0; i < Model.AvailableConferenceTypeIds.Count; i++)
        {
            @Html.HiddenFor(m => m.AvailableConferenceTypeIds[i])
        }
        @for (int i = 0; i < Model.CourtFiles?.Length; i++)
        {
            @Html.HiddenFor(m => m.CourtFiles[i].courtClassCode)
            @Html.HiddenFor(m => m.CourtFiles[i].courtFileNumber)
            @Html.HiddenFor(m => m.CourtFiles[i].styleOfCause)
            @Html.HiddenFor(m => m.CourtFiles[i].physicalFileId)
            @Html.HiddenFor(m => m.CourtFiles[i].courtLevelCode)
        }

        <div>
            <div class="uppercase-sm">File Number: @Model.FileNumber</div>
            <h5 style="margin-bottom: 4px">@Model.SelectedCourtFile?.styleOfCause</h5>
            <p>@Model.SelectedCourtClassName</p>
        </div>

        <div class="row no-gutters">
            <div class="form-group conference-type-selection bg-white rounded p-3 p-sm-4">
                <h6>Choose a conference type</h6>
                <div class="btn-radio-group form-group">
                    @foreach (var hearingTypeId in Model.AvailableConferenceTypeIds)
                    {
                        if (hearingTypeId == ScHearingType.CPC)
                        {
                            <div class="form-check">
                                <input asp-for="HearingTypeId" class="form-check-input" type="radio"
                                id="CPC" name="HearingTypeId"
                                value="@ScHearingType.CPC">
                                <label for="CPC" class="form-check-label">Case Planning Conference (CPC)</label>
                            </div>
                        }
                        else if (hearingTypeId == ScHearingType.JCC)
                        {
                            <div class="form-check">
                                <input asp-for="HearingTypeId" class="form-check-input" type="radio"
                                    id="JCC" name="HearingTypeId"
                                    value="@ScHearingType.JCC">
                                <label for="JCC" class="form-check-label">Judicial Case Conference (JCC)</label>
                            </div>
                        }
                        else if (hearingTypeId == ScHearingType.TMC)
                        {
                            <div class="form-check">
                                <input asp-for="HearingTypeId" class="form-check-input" type="radio"
                                    id="TMC" name="HearingTypeId"
                                    value="@ScHearingType.TMC">
                                <label for="TMC" class="form-check-label">Trial Management Conference (TMC)</label>
                            </div>                            
                        }
                    }
                </div>
                <p>
                    <a href="https://www.bccourts.ca/supreme_court/scheduling" target="_blank" rel="noopener">Contact the applicable Supreme Court scheduling office</a>
                    <i class="fa fa-external-link-alt"></i> by telephone for conference types not listed.
                </p>
            </div>
        </div>

        @if (Model.HearingTypeId == -1)
        {
            <div class="row no-gutters px-3 pb-3 pt-0">
                <span asp-validation-for="HearingTypeId" class="text-danger"></span>
            </div>
        }

        <div class="row no-gutters">
            <div class="col-6 col-md-8 d-flex align-items-center text-link">
                <span>
                    <i class="fas fa-long-arrow-alt-left"></i>
                    <a asp-action="index" asp-route-s="false">Step 1: Find the Case for Your Hearing</a>
                </span>
            </div>
            <div class="col-6 col-md-4"> 
                <button type="submit" class="btn btn-primary btn-block">
                    Show Available Times
                </button>
            </div>
        </div>

    </form>
</div>
