@inject SessionService SessionService

@model EmailViewModel

<p>Thank you.</p>

<p>Your CPC has been scheduled for the date and time below.</p>

<p>Please file a Notice of CPC to secure the date.</p>

<hr />

<div style="margin-top: 10px;">
    <b>@(SessionService.ScBookingInfo.SelectedCourtFile?.styleOfCause ?? "No Style of Cause?")</b>
</div>
<div>@SessionService.ScBookingInfo.SelectedCourtClassName</div>
@*@if (Model.CaseLocationName != Model.BookingLocationName)
{
    @Html.Raw("CENTRALIZED HEARING LOCATION: ")
    @Model.BookingLocationName
    @Html.Raw(" Law Courts")
} else
{
    <div>@Model.CaseLocationName</div>
}*@
<div>File Number: @SessionService.ScBookingInfo.FileNumber</div>

<div style="margin-top: 10px;"><b>Hearing Date</b></div>
<div>@Model.Date</div>
<div>@Model.Time</div>

<div style="margin-top: 10px;"><b>Contact Information</b></div>
<div>@Model.EmailAddress</div>
<div>@Model.Phone</div>
