@using SCJ.OnlineBooking
@inject SelectListService SelectListService

@model SCJ.Booking.MVC.ViewModels.ScCaseSearchViewModel

@{
    ViewData["Title"] = "Index";

    var courtCases = Model.Cases;
    var cases = courtCases?.Count ?? 0;
    var results = cases > 1 ? "results" : "result";
    if (!Model.IsConfirmingCase && cases == 1)
    {
        Model.SelectedCaseId = (int)courtCases.First().physicalFileId;
    }

    var haveConferenceTypeIds = (Model.AvailableConferenceTypeIds?.Count ?? 0) > 0;
    var showMsg = Model.CaseRegistryId > 0 && !haveConferenceTypeIds;
    var showMsgClass = showMsg ? "" : " hidden";
    var hideMsgClass = !showMsg ? "" : " hidden";
    var caseNoTooltip = "Your Court File Number should not include any special characters. If using a CSO file number, ensure that the class number is prepended to the file number without a hyphen and exclude the first four characters (ex. VLC-S-M-12345 would be M12345)";
}

<div>
    <h3>4 steps to complete your booking</h3>
    <h1 class="my-2">Step 1: Find the Case for Your Hearing</h1>
    <h3>Before you can book your hearing, please find the case that you would like to bring to court.</h3>

    <form method="post">
        <div class="row my-4 mx-0">
            <div class="col-md-6 bg-light rounded p-3 p-sm-4">
                <div class="form-group">
                    <label for="CaseRegistryId">Choose the registry where the file was created</label>
                    <select asp-for="CaseRegistryId" class="form-control registryOptions mb-2"
                            asp-items="SelectListService.SupremeLocations" required>
                        <option value="">-- Pick a registry --</option>
                    </select>
                    <span asp-validation-for="CaseRegistryId" class="text-danger"></span>

                    <div class="text-danger showMsgClass" @showMsgClass>
                            <div class="mb-1">Online booking is not available at this registry.</div>
                            <div>
                                <a href="https://www.bccourts.ca/supreme_court/scheduling/"
                                   target="_blank" class="text-danger">
                                    Contact the Supreme Court scheduling office
                                </a>
                                by telephone to book your hearing.
                            </div>
                    </div>
                </div>
            <div class="form-group hideMsgClass" @hideMsgClass>
                <label id="courtClassLabel">
                    Choose the court class
                </label> - Optional @* style="@(Model.HearingTypeId == ScHearingType.PTC ? "display:none" : "")"*@
                <select asp-for="SelectedCourtClass" class="form-control" id="courtClassDropdown">
                    <option value="">-- Pick a class --</option>
                    <option value="B">B – Bankruptcy</option>
                    <option value="E">E – Family Law Proceedings</option>
                    <option value="H">H – Foreclosure</option>
                    <option value="L">L – Enforcement/Legislated Statute</option>
                    <option value="M">M – Motor Vehicle Accidents</option>
                    <option value="N">N – Adoption</option>
                    <option value="P">P – Probate</option>
                    <option value="S">S – Supreme Civil (General)</option>
                    <option value="V">V – Caveat</option>
                    <option value="D">D – Divorce</option>
                    <option value="C">C – Small Claims</option>
                </select>
            </div>
            <div class="form-group hideMsgClass mb-0" @hideMsgClass>
            <div class="align-tooltip">
                <label for="caseNoInput">What is the Court File Number for the case?</label>
                <span class="pl-2" tabindex="0" data-toggle="tooltip" data-html="true"
                    id="caseNumberTooltip"
                    title="<p>@caseNoTooltip</p>"
                    aria-label="@caseNoTooltip">
                    @*style="@(Model.HearingTypeId == ScHearingType.PTC ? "display:none" : "")"*@
                    <i class="fas fa-question-circle"></i>
                </span>
            </div>
            <div class="d-inline-flex">
                <div>
                    <label for="caseNumberInput" class="mb-0">
                        <small class="text-muted">Class</small>
                    </label>
                    <input class="form-control caseNumber mr-2" style="width: 40px;"
                        asp-for="SelectedCourtClass" id="caseNumberInput" readonly />
                </div>
                <div>
                    <label for="caseNoInput" class="mb-0">
                        <small class="text-muted">Number</small>
                    </label>
                    <input asp-for="CaseNumber" class="form-control caseNumber"
                        required id="caseNoInput" type="number" />
                    <span asp-validation-for="CaseNumber"
                    class="text-danger align-self-center"></span>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row hideMsgClass" @hideMsgClass>
            <div class="col-md-6">
                <div class="form-group mb-0">
                    @*<input type="submit" value="Search for Case" class="btn btn-primary" />*@
                    <button type="submit" id="SearchForCase"
                        asp-action="Index" asp-controller="ScBooking"
                        class="btn btn-primary btn-block mb-0"> 
                        Search for Case
                    </button>
                </div>
            </div>
        </div>
        @*<div class="row my-3">
            <div class="col-md-5">
                <form asp-action="Index" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CaseNumber" class="control-label"></label>
                        <input asp-for="CaseNumber" class="form-control" />
                        <span asp-validation-for="CaseNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HearingTypeId" class="control-label"></label>
                        <input asp-for="HearingTypeId" class="form-control" />
                        <span asp-validation-for="HearingTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HearingTypeName" class="control-label"></label>
                        <input asp-for="HearingTypeName" class="form-control" />
                        <span asp-validation-for="HearingTypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsValidCaseNumber" /> @Html.DisplayNameFor(model => model.IsValidCaseNumber)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TimeSlotExpired" /> @Html.DisplayNameFor(model => model.TimeSlotExpired)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaseRegistryId" class="control-label"></label>
                        <input asp-for="CaseRegistryId" class="form-control" />
                        <span asp-validation-for="CaseRegistryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaseLocationName" class="control-label"></label>
                        <input asp-for="CaseLocationName" class="form-control" />
                        <span asp-validation-for="CaseLocationName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookingRegistryId" class="control-label"></label>
                        <input asp-for="BookingRegistryId" class="form-control" />
                        <span asp-validation-for="BookingRegistryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookingLocationName" class="control-label"></label>
                        <input asp-for="BookingLocationName" class="form-control" />
                        <span asp-validation-for="BookingLocationName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeSlotFriendlyName" class="control-label"></label>
                        <input asp-for="TimeSlotFriendlyName" class="form-control" />
                        <span asp-validation-for="TimeSlotFriendlyName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContainerId" class="control-label"></label>
                        <input asp-for="ContainerId" class="form-control" />
                        <span asp-validation-for="ContainerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedCaseDate" class="control-label"></label>
                        <input asp-for="SelectedCaseDate" class="form-control" />
                        <span asp-validation-for="SelectedCaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedCourtClass" class="control-label"></label>
                        <input asp-for="SelectedCourtClass" class="form-control" />
                        <span asp-validation-for="SelectedCourtClass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistryContactNumber" class="control-label"></label>
                        <input asp-for="RegistryContactNumber" class="form-control" />
                        <span asp-validation-for="RegistryContactNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search for Case" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>*@
        @Html.HiddenFor(m => m.FullCaseNumber)
        @if (haveConferenceTypeIds) {
            @for (int i = 0; i < Model.AvailableConferenceTypeIds.Count; i++)
            {
                @Html.HiddenFor(m => m.AvailableConferenceTypeIds[i])
            }

            if (cases > 0)
            {
                @for (int i = 0; i < Model.CourtFiles.Length; i++)
                {
                    @Html.HiddenFor(m => m.CourtFiles[i].courtClassCode)
                    @Html.HiddenFor(m => m.CourtFiles[i].courtFileNumber)
                    @Html.HiddenFor(m => m.CourtFiles[i].styleOfCause)
                    @Html.HiddenFor(m => m.CourtFiles[i].physicalFileId)
                    @Html.HiddenFor(m => m.CourtFiles[i].courtLevelCode)
                }
                <h2 class="mt-5 mb-2">Search Results: Choose Your Case</h2>
                <h6>@cases @results found</h6>

                <div class="col-md-6 p-0">
                    <div class="form-group">
                        <ol class="px-0">
                            @foreach (var courtCase in courtCases)
                            {
                                var caseId = (int)courtCase.physicalFileId;
                                @*var isChecked = courtCase.physicalFileId == Model.SelectedCaseId;*@
                                var fileNumber = courtCase.courtClassCode + courtCase.courtFileNumber;
                                <li style="list-style-type: none;">

                                    <!-- The new search results with label -->
                                    <div class="search-results-case border mt-3">
                                        @if (cases == 1)
                                        {
                                            @Html.RadioButtonFor(model => model.SelectedCaseId, caseId)
                                        } else
                                        {
                                            <input type="radio" name="SelectedCaseId"
                                                id="SelectedCaseId-@caseId" value="@caseId" />
                                        }
                                        @*@Html.RadioButton("SelectedCaseId", courtCase.physicalFileId, isChecked)*@
                                        @*<input type="radio" asp-for="SelectedFileNumber" value="@fileNumber" />*@


                                        <label for="SelectedCaseId-@caseId">
                                            <b>@(courtCase?.styleOfCause ?? "No Style of Cause?")</b>
                                            <div>@Model.GetCourtClass(courtCase.courtClassCode)</div>
                                            <div>
                                                File Number: @Html.DisplayFor(m => m.LocationPrefix) @fileNumber
                                            </div>
                                        </label>
                                    </div>

                                    <!-- The previous search results with table -->
                                    <!-- 
                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <td class="align-middle border-right-0" style="width: 30px;">
                                                @if (cases == 1)
                                                {
                                                    @Html.RadioButtonFor(model => model.SelectedCaseId, caseId)
                                                } else
                                                {
                                                    <input type="radio" name="SelectedCaseId"
                                                        id="SelectedCaseId" value="@caseId" />
                                                }
                                                @*@Html.RadioButton("SelectedCaseId", courtCase.physicalFileId, isChecked)*@
                                                @*<input type="radio" asp-for="SelectedFileNumber" value="@fileNumber" />*@
                                            </td>
                                            <td class="border-left-0">
                                                <b>@(courtCase?.styleOfCause ?? "No Style of Cause?")</b>
                                                <div>@Model.GetCourtClass(courtCase.courtClassCode)</div>
                                                <div>
                                                    File Number: @Html.DisplayFor(m => m.LocationPrefix) @fileNumber
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    -->
                                </li>
                            }
                        </ol>
            
                        @if (Model.IsConfirmingCase && Model.SelectedCaseId == 0)
                        {
                            <span asp-validation-for="SelectedCaseId" id="ChooseACase"
                                class="text-danger"></span>
                        }
                    </div>
                </div>

                @*@Html.AntiForgeryToken()*@
                <button formaction="case-selected" class="btn btn-primary btn-block mt-4 mb-0">
                    Confirm Case
                </button> 
                @*<button type="submit" class="btn btn-primary btn-block mb-0"
                        formaction="@action">
                    Confirm Case
                </button>*@
            }
            else if (Model.CaseRegistryId > 0)
            {
                @*<h3 class="mb-5 text-danger">No record found</h3>*@
                <!-- No search results for case number-->
                <div class="no-search-results">
                    <div class="row options-nextStep">
                        <div class="col col-md-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <i class="fas fa-exclamation-triangle"></i>
                                We could not find the case for @Model.CaseNumber<span>.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row options-nextStep">
                        <div class="col col-md-4 col-sm-12 col-12 booking-same-height-item">
                            <div class="card bg-light">
                                <div class="card-header card-header-center">Is it the right Court File Number or Registry?</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        If this is not the correct Court File Number or Registry, you can change it and try again for available times. <br/> Ensure that your Court File Number does not contain any special characters.<br /> If using a CSO file number, exclude the first 4 characters (ex. VLC-S-M-12345 would be M12345).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-12 col-12 booking-same-height-item">
                            <div class="card bg-light">
                                <div class="card-header card-header-center">Is this a Supreme Family or Civil case?</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        This online tool covers Family and Civil cases. If your case is not a Familiy or Civil case please contact @Model.CaseLocationName scheduling at @Model.RegistryContactNumber.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-12 col-12 booking-same-height-item">
                            <div class="card bg-light">
                                <div class="card-header card-header-center">Need to contact your registry?</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        You can contact the registry where your file was created (indicated in your court filing documents); <br />to contact @Model.CaseLocationName please call @Model.RegistryContactNumber.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- No search results for case number-->
            }
        }
    </form>

    @*if (Context.Request.Method == "POST") {

    }*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
