@using Microsoft.Extensions.Configuration
@inject SessionService SessionService
@inject ScBookingService BookingService
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Your Booking is Reserved Tenatively";
}
<div class="body-content--inner">
    <div class="row no-gutters">
        <div class="col">
            @if (SessionService.ScBookingInfo.IsBooked)
            {
                <h2>@ViewData["Title"]</h2>

                <p class="mb-3">Please file a Notice of Trial within 30 days to confirm this trial.</p>

                <p class="mb-3">The following information will be sent to you by email.</p>
            }
            else
            {
                <h2>Booking Could Not Be Completed</h2>
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-circle"></i>
                    @SessionService.ScBookingInfo.FriendlyError
                </div>
                <p>For your reference, here is the information for the booking that was not completed.</p>
            }
        </div>
    </div>

    <div class="row no-gutters booking-confirmation">
        <div class="col-12">

            <div class="row no-gutters justify-content-between booking-confirmation--details">
                <div class="col-12">
                    <div class="uppercase-sm">File Number: @SessionService.ScBookingInfo.LocationPrefix
                        @SessionService.ScBookingInfo.FileNumber</div>
                    <h5 style="margin-bottom: 4px">@SessionService.ScBookingInfo.SelectedCourtFile?.styleOfCause</h5>
                    <p>@SessionService.ScBookingInfo.SelectedCourtClassName</p>
                </div>
            </div>

            <div class="mb-4">
                <h2>Trial Details</h2>

                @{
                    var trialLength = SessionService.ScBookingInfo.EstimatedTrialLength;

                    var trialDateObj = DateTime.ParseExact(
                    SessionService.ScBookingInfo.SelectedRegularTrialDate,
                    "yyyy-MM-dd",
                    System.Globalization.CultureInfo.InvariantCulture
                    );
                    var trialDate = trialDateObj.ToString("dddd, MMMM dd, yyyy");

                    var trialLocation = await BookingService.GetLocationName(SessionService.ScBookingInfo.TrialLocation);
                }
                <p>Trial length: @trialLength @(trialLength == 1 ? "day" : "days")</p>

                <p>Starting: @trialDate</p>

                <p class="mb-3">Location: @trialLocation</p>
            </div>

            <div class="mb-4">
                <h2>Contact Information</h2>

                <p>Email: @SessionService.UserInfo.Email</p>

                <p>Phone number: @SessionService.UserInfo.Phone</p>
            </div>

            <div class="mb-4">
                <a class="btn btn-primary d-inline-block mt-0" href="/scjob/booking/sc" role="button">
                    Make Another Booking
                </a>
            </div>

            <div class="mb-4">
                <p>Finished booking?</p>

                <p>
                    @* @TODO: logout url? *@
                    <a href="@Configuration["AppSettings:LogoutUrl"]">
                        <p>Log out of the BC Courts Booking System</p>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

@{
    SessionService.ScBookingInfo = null;
}
