@inject SessionService SessionService
@{
    Layout = "~/Views/ScCore/_Layout.cshtml";
    ViewData["Title"] = "Your booking is confirmed";

    var bookingInfo = SessionService.ScBookingInfo;
    var userInfo = SessionService.UserInfo;
    var hearingType = ScHearingType.GetHearingType(bookingInfo.HearingTypeId);
}
<div class="body-content--inner">
    <div class="row no-gutters">
        <div class="col">
            @if (bookingInfo.IsBooked)
            {
                <h2>@ViewData["Title"]</h2>
                <p class="mb-3">
                    Your @hearingType has been scheduled for the date and time below.
                </p>
                <p class="mb-3">
                    @if (@hearingType == "TMC")
                    {
                        <span>Please file a requisition to secure @hearingType date.</span>
                    }
                    else
                    {
                        <span>Please file a Notice of @hearingType to secure the date.</span>
                    }
                    <span>
                        Consult the
                        <a href="https://www.bccourts.ca/supreme_court/practice_and_procedure/acts_rules_and_forms/"
                            target="_blank" rel="noopener">Supreme Court Rules</a>
                        <i class="fa fa-external-link-alt"></i> for additional details.
                    </span>
                    <strong>
                        Please ensure to provide all email addresses and phone numbers for counsel or
                        self-represented parties in your filed document.
                    </strong>
                </p>
                <p class="mb-0 mt-5">The following information will be sent to you by email.</p>
            }
            else
            {
                <h2>Booking Could Not Be Completed</h2>
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-circle"></i>
                    @bookingInfo.FriendlyError
                </div>
                <p>For your reference, here is the information for the booking that was not completed.</p>
            }
        </div>
    </div>

    <div class="row no-gutters booking-confirmation">
        <div class="col-md-6">
            @if (string.IsNullOrEmpty(SessionService?.UserInfo?.ContactName))
            {
                <div class="row no-gutters">
                    <div class="col">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="fas fa-exclamation-triangle"></i>
                            Please log out and log in again, your session was lost.
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row no-gutters">
                    <div class="col">
                        <div class="form-group" style="margin-bottom: 8px">
                            <div class="uppercase-sm">File Number: @bookingInfo.FullCaseNumber</div>
                            <h5 style="margin-bottom: 4px">
                                @bookingInfo.SelectedCourtFile?.styleOfCause
                            </h5>
                            <p>@bookingInfo.SelectedCourtClassName</p>
                        </div>
                        <div class="form-group" style="margin-bottom: 8px">
                            <h6>Hearing date</h6>
                            <p>@bookingInfo.FormattedConferenceDate</p>
                            <p>@bookingInfo.FormattedConferenceTime</p>
                        </div>
                        <div class="form-group">
                            <h6>Contact information</h6>
                            <p>@userInfo.Email</p>
                            <p>@userInfo.Phone</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-6 col-md-8 text-link">
            <h6>Finished booking?</h6>
            <a href="#" onclick="submitLogoutForm(event)">
                <p>Log out of the BC Courts Online Booking System</p>
            </a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-primary btn-block" href="/scjob/booking/sc" role="button">
                Book another hearing
            </a>
        </div>
    </div>
</div>

@{
    // this needs to be done in the view (not the controller) because the view uses the session
    if (SessionService != null)
    {
        SessionService.ScBookingInfo = null;
    }
}