@inject SelectListService SelectListService
@model ScBookingTypeViewModel

@{
    ViewData["Title"] = "Choose your booking type";

    ScSessionBookingInfo bookingInfo = Model.SessionInfo;

    string trialDisplay = "inline-block";
    string chambersDisplay = "none";

    if (Model.HearingTypeId == ScHearingType.LONG_CHAMBERS)
    {
        trialDisplay = "none";
        chambersDisplay = "inline-block";
    }
}

<div class="body-content--inner">
    <div class="d-flex justify-content-between steps-link">
        <h5>4 steps to complete your booking</h5>
        <h6><a href="/scjob/booking/sc">Cancel</a></h6>
    </div>
    <hr />
    <h6>Step 2</h6>
    <h2>Choose your booking type</h2>

    <form method="post">
        <div>
            <div class="uppercase-sm">File Number:@bookingInfo.FullCaseNumber</div>
            <h5 style="margin-bottom: 4px">@bookingInfo.SelectedCourtFile?.styleOfCause</h5>
            <p>@bookingInfo.SelectedCourtClassName</p>
        </div>

        <div class="row no-gutters">
            <div class="form-group booking-type-selection bg-white rounded p-3 p-sm-4">
                <h6 class="form-section-label">Choose your booking type</h6>

                <div class="booking-types check-group">
                    @foreach (var bookingType in Model.AvailableBookingTypes)
                    {
                        <label>
                            @{
                                // translate between hearing type IDs and titles
                                var hearingTypeId = @ScHearingType.HearingTypeIdMap[bookingType];
                                var hearingTypeName = @ScHearingType.HearingTypeNameMap[hearingTypeId];
                            }

                            <input asp-for="HearingTypeId" type="radio" name="HearingTypeId" value="@hearingTypeId" />
                            @hearingTypeName
                        </label>
                    }
                </div>

                <div class="row no-gutters pb-3 pt-0">
                    <span asp-validation-for="HearingTypeId" class="text-danger"></span>
                </div>

                <p>
                    Contact the applicable
                    <a href="https://www.bccourts.ca/supreme_court/scheduling" target="_blank" rel="noopener">Supreme
                        Court scheduling office</a>
                    <i class="fa fa-external-link-alt"></i> by telephone for conference types not listed.
                </p>

                <div id="existing-trial-error" class="alert alert-danger mt-4" role="alert" style="display: none">
                    <i class="fas fa-ban"></i>
                    <div>
                        <p>
                            You cannot book a trial for this case because
                            <span id="reason-future-trial-booked" style="display: none">a trial date has already been
                                set.</span>
                            <span id="reason-existing-trial-request" style="display: none">a request for trial dates has
                                already been submitted.</span>
                        </p>
                        <p class="mt-3">Please confirm the details with the opposing counsel/party.</p>
                    </div>
                </div>

                <div id="lotteryenabled-additional-fields" style="display: none;">
                    <div id="chambers-additional-fields" class="form-group mb-4">

                        <label for="ChambersHearingSubType" class="form-selection-label">
                            Type of chambers hearing
                        </label>
                        <div>
                            <select asp-for="ChambersHearingSubType"
                                class="mr-2 form-control d-inline-block ChambersHearingSubType"
                                asp-items="SelectListService.ChambersHearingSubTypes">
                            </select>
                            <div class="mt-2">
                                <span asp-validation-for="ChambersHearingSubType" class="text-danger"></span>
                            </div>
                        </div>

                        <label for="EstimatedChambersLength" class="mt-4">
                            Requested days of chambers hearing
                        </label>
                        <div>
                            <select asp-for="EstimatedChambersLength"
                                class="mr-2 form-control d-inline-block EstimatedChambersLength"
                                asp-items="SelectListService.ChambersDays">
                                <option value=""></option>
                            </select>
                            <span>day(s)</span>
                            <div class="mt-2">
                                <span asp-validation-for="EstimatedChambersLength" class="text-danger"></span>
                            </div>
                        </div>

                        <p class="mt-4 mb-4">
                            Contact the applicable
                            <a href="https://www.bccourts.ca/supreme_court/scheduling" target="_blank"
                                rel="noopener">Supreme
                                Court scheduling office</a>
                            <i class="fa fa-external-link-alt"></i> by telephone for estimated lengths of 6 days or
                            more.
                        </p>

                    </div>

                    <div id="trial-additional-fields" class="form-group mb-4 mt-4">
                        <label for="EstimatedTrialLength" class="form-section-label">
                            Estimated length of trial
                        </label>

                        <div>
                            <input class="mr-2 form-control d-inline-block EstimatedTrialLength" type="number" min="1"
                                max="40" asp-for="EstimatedTrialLength" />
                            <span>days</span>

                            <div class="mt-2">
                                <span asp-validation-for="EstimatedTrialLength" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group btn-radio-group mb-4">
                        <h6 class="form-section-label">
                            Is the
                            <span class="txtTrial" style="display: @trialDisplay;">
                                trial
                            </span>
                            <span class="txtChambers" style="display: @chambersDisplay;">
                                chambers hearing
                            </span>
                            taking place in the home registry?
                        </h6>

                        <div class="check-group">
                            <label>
                                <input id="IsHomeRegistry--Yes" asp-for="IsHomeRegistry" type="radio"
                                    name="IsHomeRegistry" value="true">
                                Yes
                            </label>

                            <label>
                                <input id="IsHomeRegistry--No" asp-for="IsHomeRegistry" type="radio"
                                    name="IsHomeRegistry" value="false">
                                No
                            </label>
                        </div>

                        <div>
                            <span asp-validation-for="IsHomeRegistry" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="different-place-of-trial" class="form-group btn-radio-group mb-4">
                        <h6 class="form-section-label txtTrial" style="display: @trialDisplay;">
                            Do you have an entered court order changing the place of trial, or is another place of
                            trial stated on the initiating documents (e.g. Notice of Civil Claim, Notice of Family
                            Claim)?
                        </h6>
                        <h6 class="form-section-label txtChambers" style="display: @chambersDisplay;">
                            Applications can be set outside the judicial district of the home location of the file
                            if there is consent from all sides. Petitions require an entered order. Do you have
                            consent or an entered order to have this heard outside of the judicial district?
                        </h6>

                        <div class="check-group">
                            <label>
                                <input id="IsLocationChangeFiled--Yes" asp-for="IsLocationChangeFiled" type="radio"
                                    name="IsLocationChangeFiled" value="true">
                                Yes
                            </label>

                            <label>
                                <input id="IsLocationChangeFiled--No" asp-for="IsLocationChangeFiled" type="radio"
                                    name="IsLocationChangeFiled" value="false">
                                No
                            </label>
                        </div>

                        <div>
                            <span asp-validation-for="IsLocationChangeFiled" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="trial-location-warning" class="alert alert-danger" role="alert">
                        <i class="fas fa-ban"></i>
                        <span class="txtTrial" style="display: @trialDisplay;">
                            You must have an entered court order changing the place of trial <b>or</b> have a different
                            place of trial stated on the initiating document (eg. Notice of Civil Claim, Notice of
                            Family Claim).
                        </span>
                        <span class="txtChambers" style="display: @chambersDisplay;">
                            Applications require consent from all sides. Petitions require an entered order.
                        </span>
                    </div>

                    <div id="trial-location" class="form-group mb-4">
                        <label for="TrialLocation" class="form-section-label">
                            Where will the
                            <span class="txtTrial" style="display: @trialDisplay;">
                                trial
                            </span>
                            <span class="txtChambers" style="display: @chambersDisplay;">
                                chambers
                            </span>
                            be held?
                        </label>

                        <select asp-for="AlternateLocationRegistryId" asp-items="SelectListService.SupremeLocations"
                            class="form-control TrialLocation" id="TrialLocation">
                            <option value="-1">-- Pick a registry --</option>
                        </select>

                        <div>
                            <span asp-validation-for="AlternateLocationRegistryId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-6 col-md-8 d-flex align-items-center text-link">
                <span>
                    <i class="fas fa-long-arrow-alt-left"></i>
                    <a href="select-case">Step 1: Find the case for your booking</a>
                </span>
            </div>
            <div class="col-6 col-md-4">
                <button type="submit" class="btn btn-primary btn-block" id="btnNext">
                    Show availability
                </button>
            </div>
        </div>

        <input type="hidden" asp-for="HasExistingTrialRequest" />
        <input type="hidden" asp-for="FutureTrialBooked" />
    </form>
</div>