@inject CoaBookingService service
@model CoaCaseSearchViewModel

@{
    ViewData["Title"] = "Book your Request for Hearing Date";
    bool showingDates = Model.Results != null && Model.Results.Any();
}

<div class="row screen-intro">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>

        <div class="paragraph">
            <p>All bookings will be entered in a queue and will be reviewed by the court scheduler.</p>
            <p>You will be notified when the booking has been processed.</p>
        </div>

        <div class="paragraph">
            <p>Before we can bring back available times for the hearing, we’ll need to know the following.</p>
            <p>If you require assistance for your booking, please contact the scheduler at 604-660-2865.</p>
        </div>
    </div>
</div>

<form method="post" id="CaseSearchForm">
    <input type="hidden" asp-for="CaseType" />
    <input type="hidden" asp-for="IsValidCaseNumber" />
    <input type="hidden" id="SelectedDate" name="SelectedDate" />
    <!-- Search filter-->
    <div class="row search-container">
        <div class="col col-md-12">
            <div class="search-info">
                <div class="row search-info-row">
                    <div class="col-md-6 form-group">
                        <label for="hearingLocation">Where will the hearing occur.</label>
                        <div class="align-tooltip">
                            <select class="form-control registryOptions" id="hearingLocation" disabled>
                                <option value="Vancouver">Vancouver </option>
                            </select>
                            <span class="pl-2" tabindex="0" data-toggle="tooltip" data-html="true" title="<p>Online Booking is currently active for Vancouver Hearing dates only.</p>" aria-label="Online Booking is currently active for Vancouver Hearing dates only.">
                                <i class="fas fa-question-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="CaseNumber">What is the Court File Number for the case?</label>
                        <div class="align-tooltip">
                            <div>
                                <input class="form-control caseNumber" asp-for="CaseNumber" disabled="@(Context.Request.Method == "POST" && Model.CaseNumber != null)" />
                                <input type="hidden" asp-for="CaseNumber" value="@Model.CaseNumber" />
                            </div>
                            <span class="pl-2" tabindex="0" data-toggle="tooltip" data-html="true" title="<p>The Court File Number is often in the format of CA##### (ex. CA12345). Please remove any leading zeros (0) before the number and CA.</p>" aria-label="The Court File Number is often in the format of CA##### (ex. CA12345). Please remove any leading zeros (0) before the number and CA.">
                                <i class="fas fa-question-circle"></i>
                            </span>
                        </div>
                        <span class="text-danger" asp-validation-for="CaseNumber"></span>
                    </div>
                </div>

                @if (Context.Request.Method == "POST" && Model.CaseNumber != null && (Model.IsValidCaseNumber ?? false))
                {
                    if (Model.CaseType == CoaCaseType.Civil)
                    {
                        <div class="preliminary_questions preliminary_questions--Civil">
                            <div class="row search-info-row">
                                <div class="col-md-6">
                                    <label>Has a Certificate of Readiness been filled?</label>
                                    <div id="Civil_CertificateOfReadiness" class="btn-radio-group preliminary_questions__radio">
                                        <label class="btn btn-radio @((Model.CertificateOfReadiness ?? false) ? "active" : "")">
                                            <input type="radio" asp-for="CertificateOfReadiness" value="true" /> Yes
                                        </label>

                                        <label class="btn btn-radio @((Model.CertificateOfReadiness ?? true) ? "" : "active") @(showingDates && (Model.CertificateOfReadiness ?? false) ? "disabled" : "")">
                                            <input type="radio" asp-for="CertificateOfReadiness" value="false" disabled="@(showingDates && (Model.CertificateOfReadiness ?? false))" /> No
                                        </label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="CertificateOfReadiness"></span>
                                    <div class="alert alert-warning  alert--preliminary_question">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        You will not be able to book a Hearing of Appeal until the Certifcate of Readiness for this case has been filed. If you require assistance for your booking, please contact the scheduler at 604-660-2865.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Is the Hearing date agreed upon by all parties?</label>
                                    <div id="Civil_DateIsAgreed" class="btn-radio-group preliminary_questions__radio">
                                        <label class="btn btn-radio @((Model.DateIsAgreed ?? false) ? "active" : "")">
                                            <input type="radio" asp-for="DateIsAgreed" value="true" /> Yes
                                        </label>

                                        <label class="btn btn-radio @((Model.DateIsAgreed ?? true) ? "" : "active") @(showingDates && (Model.DateIsAgreed ?? false) ? "disabled" : "")">
                                            <input type="radio" asp-for="DateIsAgreed" value="false" disabled="@(showingDates && (Model.DateIsAgreed ?? false))" /> No
                                        </label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="DateIsAgreed"></span>
                                    <div class="alert alert-warning alert--preliminary_question">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        You will not be able to book a Hearing of Appeal until all parties agree upon a date. If you require assistance for your booking, please contact the scheduler at 604-660-2865.
                                    </div>
                                </div>
                            </div>

                            <div id="CivilAdditionalQs" class="row search-info-row" style="display: @((Model.CertificateOfReadiness ?? false) && (Model.DateIsAgreed ?? false) ? "block" : "none")">
                                <div class="col-md-6">
                                    <label>How long will you require for your Hearing?</label>
                                    <div id="Civil_IsFullDay" class="btn-radio-group">
                                        <label class="btn btn-radio btn-radio--day  @((Model.IsFullDay ?? true) ? "" : "active") @(showingDates && Model.IsFullDay == true ? "disabled" : "")">
                                            <input type="radio" asp-for="IsFullDay" value="false" disabled="@(showingDates && Model.IsFullDay == true)" /> Half day
                                        </label>

                                        <label class="btn btn-radio btn-radio--day  @((Model.IsFullDay ?? false) ? "active" : "") @(showingDates && Model.IsFullDay == false ? "disabled" : "")">
                                            <input type="radio" asp-for="IsFullDay" value="true" disabled="@(showingDates && Model.IsFullDay == false)" /> Full day
                                        </label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="IsFullDay"></span>
                                </div>
                            </div>

                        </div>
                    }
                    else if (Model.CaseType == CoaCaseType.Criminal)
                    {
                        <div class="preliminary_questions preliminary_questions--Criminal">
                            <div class="row search-info-row">
                                <div class="col-md-6">
                                    <label>Have you submitted a Lower Court Order?</label>
                                    <div id="Criminal_LowerCourtOrder" class="btn-radio-group preliminary_questions__radio">
                                        <label class="btn btn-radio @((Model.LowerCourtOrder ?? false) ? "active" : "")">
                                            <input type="radio" asp-for="LowerCourtOrder" value="true" /> Yes
                                        </label>

                                        <label class="btn btn-radio @((Model.LowerCourtOrder ?? true) ? "" : "active") @(showingDates && (Model.LowerCourtOrder ?? false) ? "disabled" : "")">
                                            <input type="radio" asp-for="LowerCourtOrder" value="false" disabled="@(showingDates && (Model.LowerCourtOrder ?? false))" /> No
                                        </label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="LowerCourtOrder"></span>
                                    <div class="alert alert-warning alert--preliminary_question">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        You will not be able to book a Hearing of Appeal until a Lower Court Order has been filed. If you require assistance for your booking, please contact the scheduler at 604-660-2865.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Is the Hearing date agreed upon by all parties?</label>
                                    <div id="Criminal_DateIsAgreed" class="btn-radio-group preliminary_questions__radio">
                                        <label class="btn btn-radio @(Model.DateIsAgreed ?? false ? "active" : "")">
                                            <input type="radio" asp-for="DateIsAgreed" value="true" /> Yes
                                        </label>

                                        <label class="btn btn-radio @(Model.DateIsAgreed ?? true ? "" : "active") @(showingDates && (Model.DateIsAgreed ?? false) ? "disabled" : "")">
                                            <input type="radio" asp-for="DateIsAgreed" value="false" disabled="@(showingDates && (Model.DateIsAgreed ?? false))" /> No
                                        </label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="DateIsAgreed"></span>
                                    <div class="alert alert-warning alert--preliminary_question">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        You will not be able to book a Hearing of Appeal until all parties agree upon a date. If you require assistance for your booking, please contact the scheduler at 604-660-2865.
                                    </div>
                                </div>
                            </div>
                            <div id="CriminalAdditionalQs" class="row search-info-row" style="display: @((Model.LowerCourtOrder ?? false) && (Model.DateIsAgreed ?? false) ? "flex" : "none")">
                                <div class="col-md-6">
                                    <label>How long will you require for your Hearing?</label>
                                    <div id="Criminal_IsFullDay" class="btn-radio-group">
                                        <label class="btn btn-radio btn-radio--day  @(Model.IsFullDay ?? true ? "" : "active") @(showingDates && (Model.IsFullDay == true) ? "disabled" : "")">
                                            <input type="radio" asp-for="IsFullDay" value="false" disabled="@(showingDates && Model.IsFullDay == true)" /> Half day
                                        </label>

                                        <label class="btn btn-radio btn-radio--day  @(Model.IsFullDay ?? false ? "active" : "") @(showingDates && Model.IsFullDay == false ? "disabled" : "")">
                                            <input type="radio" asp-for="IsFullDay" value="true" disabled="@(showingDates && Model.IsFullDay == false)" /> Full day
                                        </label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="IsFullDay"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="hearingType">What type of Appeal Hearing do you need to book?</label>
                                    <select asp-for="HearingTypeId" class="form-control registryOptions" asp-items="@Model.HearingTypes" disabled="@showingDates">
                                        <option value="">--- Hearing Type ---</option>
                                    </select>
                                    @if (showingDates)
                                    {
                                        <input type="hidden" asp-for="HearingTypeId" value="@Model.HearingTypeId" />
                                    }
                                    <span class="text-danger" asp-validation-for="HearingTypeId"></span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            @if (Model.Results == null)
            {
                <div class="row">
                    <div class="col col-md-12">
                        @if (string.IsNullOrEmpty(Model.CaseType))
                        {
                            <button type="submit" id="btnNext" name="SubmitButton" value="SearchCases" class="btn btn-primary btn-lg">Next</button>
                        }
                        else
                        {
                            <button type="submit" id="btnShowDates" name="SubmitButton" value="GetDates" class="btn btn-primary btn-lg">Show Available Dates</button>
                        }
                    </div>
                </div>
            }

            @if (Context.Request.Method == "POST" && Model.CaseNumber != null && !(Model.IsValidCaseNumber ?? false))
            {
                <hr class="results-linebreak" />
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle"></i>
                    We could not find the case for Court File Number @Model.CaseNumber<span>.</span>
                </div>
            }
        </div>
    </div>
</form>

@if (showingDates)
{
    <hr class="results-linebreak" />
    <h2>Available Dates for @Model.HearingTypeName</h2>
    <p>Choose the date that works best for you. Each hearing is @((Model.IsFullDay ?? false) ? "full day" : "half day") long.</p>

    <div class="availableDates">
        @{
            var monthIndex = 0;

            foreach (var month in Model.Results)
            {
                var days = month.Value;
                <div class="availableDates__month @monthIndex @((monthIndex == 0 || monthIndex == 1) ? "" : "hidden")">
                    <h3 class="h3--month">@month.Key.ToString("MMMM yyyy")</h3>
                    <div class="availableDates__month__days">
                        @foreach (var day in days)
                        {
                            <a class="btn btn-primary availableDate" data-date="@day.ToString("yyyy-MM-dd")">
                                <p>@day.ToString("dddd")</p>
                                <p>@day.ToString("MMMM d, yyyy")</p>
                            </a>
                            <br />
                        }
                        <br />
                    </div>
                </div>
                monthIndex++;
            }
        }
    </div>

    <button id="btnShowMore" class="btn btn-outline-primary btn-lg">Show More Dates</button>
}

<div class="row">
    <div class="col col-md-12">
        <a href="">Restart Search</a>
    </div>
</div>
