@using Microsoft.Extensions.Configuration
@inject SessionService SessionService
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Your Request is Queued";
}

    <div class="row screen-intro">
        <div class="col-md-12 paragraph">
        @if (SessionService.CoaBookingInfo.IsBooked)
        {
            <h1>@ViewData["Title"]</h1>
            <p>The booking for your Hearing has been added to the booking queue.</p>
            <p>You will be contacted for further confirmation of this booking.</p>
        }
        else
        {
            <h1>error</h1>
            <p>there was an error confirming your booking.</p>
            <p>the following message was returned by the scheduling system.</p>
        }
        </div>
    </div>

@if (!SessionService.CoaBookingInfo.IsBooked)
{
    <div class="alert alert-danger">
        @SessionService.CoaBookingInfo.RawResult
    </div>
}
else
{
    <div class="row booking-confirmation">
        <div class="content col-md-6">
            @if (string.IsNullOrEmpty(SessionService?.UserInfo?.ContactName))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="fas fa-exclamation-triangle"></i>
                            Please logout and login again, your session was lost. 
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Court File Number</label>
                        <div>
                            <span>@SessionService.CoaBookingInfo.CaseNumber</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Case Type</label>
                        <div>
                            <span>@SessionService.CoaBookingInfo.CaseType</span>
                        </div>
                    </div>
                    @if (@SessionService.CoaBookingInfo.CaseType == CoaCaseType.Civil)
                    {
                        <div class="form-group">
                            <label>Has a Certificate of Readiness been filled?</label>
                            <div>
                                <span>@((@SessionService.CoaBookingInfo.CertificateOfReadiness ?? false) ? "Yes" : "No")</span>
                            </div>
                        </div>
                    }
                    else if (@SessionService.CoaBookingInfo.CaseType == CoaCaseType.Criminal)
                    {
                        <div class="form-group">
                            <label>Have you submitted a Lower Court Order?</label>
                            <div>
                                <span>@((@SessionService.CoaBookingInfo.LowerCourtOrder ?? false) ? "Yes" : "No")</span>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label>Is the Hearing date agreed upon by all parties?</label>
                        <div>
                            <span>@((@SessionService.CoaBookingInfo.DateIsAgreed ?? false) ? "Yes" : "No")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>How long will you require for your Hearing?</label>
                        <div>
                            <span>@((@SessionService.CoaBookingInfo.IsFullDay ?? false) ? "Full Day" : "Half Day")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type of Appeal Hearing</label>
                        <div>
                            <span>@SessionService.CoaBookingInfo.HearingTypeName</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date of Hearing</label>
                        <div>
                            <span>@SessionService.CoaBookingInfo.SelectedDate.ToString("dddd, MMMM dd, yyyy")</span>
                        </div>
                    </div>

                    <div class="form-group contact-information">
                        <h2>Your Contact Information</h2>
                        <label>E-mail address</label>
                        <div>
                            <span>@SessionService.UserInfo.Email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <div>
                            <span>@SessionService.UserInfo.Phone</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row booking-new">
    <div class="content col-lg-6">
        <a href="/scjob/booking/coa/CaseSearch" class="btn btn-primary btn-lg">Request Another Hearing</a>
    </div>
</div>
<div class="row booking-logout">
    <div class="content col-md-12">
        <label>Finished booking?</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Configuration["AppSettings:LogoutUrl"]">Log out of the BC Courts Booking System</a>
    </div>
</div>

@{
    SessionService.CoaBookingInfo = null;
}
