@inject CoaBookingService service
@inject SelectListService SelectListService
@model CoaCaseSearchViewModel

@{
    ViewData["Title"] = "Request an Appeal or a Chambers Hearing Date";
    bool showingDates = Model.Results != null && Model.Results.Any();
}


@* Returns a class name if the field has any validation errors. *@
@functions {
    string GetValidationClass(string fieldName, string errorClass = "input-validation-error", string validClass = "") {
        if (ViewData.ModelState.ContainsKey(fieldName) && ViewData.ModelState[fieldName].Errors.Any()) {
            return errorClass;
        }
        return validClass;
    }
}

<div class="row screen-intro">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>

        <div class="paragraph mb-4">
            <p>All bookings will be entered in a queue and will be reviewed by the court scheduler.</p>
            <p>You will be notified by email when the booking has been confirmed.</p>
        </div>

        <div class="paragraph">
            <p>Please answer the following questions:</p>
        </div>
    </div>
</div>

<form method="post" id="CaseSearchForm">
    <input type="hidden" id="CaseType" name="CaseType" value="@Model.CaseType" />
    <input type="hidden" id="IsValidCaseNumber" name="IsValidCaseNumber" value="@Convert.ToString(Model.IsValidCaseNumber.Value)" />
    <!-- Search filter-->
    <div class="row search-container">
        <div class="col col-md-12">
            <div class="search-info border">
                <div class="row search-info-row">
                    <div class="col-md-6 form-group">
                        <label for="hearingLocation">Where will the hearing occur?</label>
                        <div class="align-tooltip">
                            <select class="form-control registryOptions" id="hearingLocation" disabled>
                                <option value="Vancouver">Vancouver </option>
                            </select>
                            <span class="pl-2" tabindex="0" data-toggle="tooltip" data-html="true" title="<p>Online booking is currently active for Vancouver hearing dates only.</p>" aria-label="Online Booking is currently active for Vancouver Hearing dates only.">
                                <i class="fas fa-question-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="CaseNumber">What is the Court File Number for the case?</label>
                        <div class="align-tooltip">
                            <div>
                                @if (Model.Step1Complete)
                                {
                                    <input class="form-control caseNumber" asp-for="CaseNumber" disabled="@(true)" />
                                    <input type="hidden" asp-for="CaseNumber" value="@Model.CaseNumber" />
                                }
                                else if (Model.CaseNumber != null && Model.CaseNumber != "CA" && Model.IsValidCaseNumber is not true)
                                {
                                    <input class="form-control caseNumber" asp-for="CaseNumber" />
                                }
                                else
                                {
                                    <input class="form-control caseNumber" asp-for="CaseNumber" value="CA" />
                                }
                            </div>
                            <span class="pl-2" tabindex="0" data-toggle="tooltip" data-html="true" title="<p>The court file number is often in the format of CA##### (ex. CA12345). Please remove any leading zeros (0) before the number and CA.</p><p>Please ensure that you have confirmed your court file number.</p>" aria-label="The Court File Number is often in the format of CA##### (ex. CA12345). Please remove any leading zeros (0) before the number and CA. Please ensure that you have confirmed your court file number.">
                                <i class="fas fa-question-circle"></i>
                            </span>
                        </div>
                        <span class="text-danger" asp-validation-for="CaseNumber"></span>
                    </div>
                </div>

                @if (Model.Step1Complete)
                {
                    @if (Model.CaseList.Length > 1)
                    {
                        <div class="row search-info-row related-cases">
                            <div class="col-md-12">
                                <label>Please select the related file numbers that will be heard on the same date.</label>
                                <ul>
                                    @if (showingDates)
                                    {
                                        @foreach (var x in Model.CaseList)
                                        {
                                            <li>
                                                <label class="mt-0 mb-2">
                                                    <input class="mr-2" type="checkbox" name="SelectedCases" value="@x.Case_Num" checked="@((Model.SelectedCases != null && Model.SelectedCases.Contains(x.Case_Num)))" disabled="@(true)" data-main="@(x.Main)" />

                                                    @if ((Model.SelectedCases != null && Model.SelectedCases.Contains(x.Case_Num)))
                                                    {
                                                        <input type="hidden" name="SelectedCases" value="@x.Case_Num" checked />
                                                    }
                                                    @x.Case_Num @((x.Main) ? "(Main)" : "")
                                                </label>
                                            </li>
                                        }
                                    }

                                    else
                                    {
                                        @foreach (var x in Model.CaseList)
                                        {
                                            <li>
                                                <label class="mt-0 mb-2">
                                                    <input class="mr-2" type="checkbox" name="SelectedCases" value="@x.Case_Num" checked="@(x.Case_Num == Model.CaseNumber || (Model.SelectedCases != null && Model.SelectedCases.Contains(x.Case_Num)))" disabled="@(Model.Step2Complete || x.Case_Num == Model.CaseNumber)" data-main="@(x.Main)" />
                                                    @* If the field is disabled, add a hidden input to POST the disabled value *@
                                                    @if (x.Case_Num == Model.CaseNumber)
                                                    {
                                                        <input type="hidden" name="SelectedCases" value="@x.Case_Num" checked />
                                                    }
                                                    @x.Case_Num @((x.Main) ? "(Main)" : "")
                                                </label>
                                            </li>
                                        }
                                    }
                                </ul>
                                <p class="text-danger">Note: Only one related file number can be requested in a hearing unless the main file number is also included.</p>
                                <div class="alert alert-warning  alert--related-cases">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    Only one related file number can be requested in a hearing unless the main file number is also included. If you require assistance for your booking, please contact the scheduler at 604-660-2865.
                                </div>
                            </div>
                        </div>
                    }

                    <div class="preliminary_questions preliminary_questions--Civil">
                        <div id="" class="row search-info-row">
                            <div class="col-md-6">
                                <label class="can-wrap">
                                    What hearing are you trying to book?
                                </label>
                                <div class="btn-radio-group preliminary_questions__radio">
                                    <label class="btn btn-radio btn-radio--secondary btn-radio--hearing-type @GetValidationClass("IsAppealHearing") @(Model.IsAppealHearing is true ? "active" : "") @(Model.Step2Complete ? "disabled" : "")">
                                        <input type="radio" asp-for="IsAppealHearing" value="true" checked="@(Model.IsAppealHearing)" readonly="@(Model.Step2Complete ? "readonly" : "")" /> Appeal
                                    </label>

                                    <label class="btn btn-radio btn-radio--secondary btn-radio--hearing-type @GetValidationClass("IsAppealHearing") @(Model.IsAppealHearing is false ? "active" : "") @(Model.Step2Complete ? "disabled" : "")">
                                        <input type="radio" asp-for="IsAppealHearing" value="false" checked="@(!Model.IsAppealHearing)" readonly="@(Model.Step2Complete ? "readonly" : "")" /> Chambers
                                    </label>
                                </div>
                                <span class="text-danger" asp-validation-for="IsAppealHearing"></span>
                            </div>

                            <div class="col-md-6">
                                <label class="can-wrap">Is the hearing date agreed upon by all parties?</label>
                                <div id="DateIsAgreed" class="btn-radio-group preliminary_questions__radio">
                                    <label class="btn btn-radio btn-radio--secondary btn-radio--date-agreed @GetValidationClass("DateIsAgreed") @(Model.DateIsAgreed is true ? "active" : "") @(Model.Step2Complete ? "disabled" : "")">
                                        <input type="radio" asp-for="DateIsAgreed" value="true" readonly="@(Model.Step2Complete ? "readonly" : "")" /> Yes
                                    </label>

                                    <label class="btn btn-radio btn-radio--secondary btn-radio--date-agreed @GetValidationClass("DateIsAgreed") @(Model.DateIsAgreed is false ? "active" : "") @(showingDates || Model.Step2Complete  ? "disabled" : "")">
                                        <input type="radio" asp-for="DateIsAgreed" value="false" readonly="@(Model.Step2Complete ? "readonly" : "")" /> No
                                    </label>
                                </div>

                                <span class="text-danger" asp-validation-for="DateIsAgreed"></span>

                                <div class="alert alert-warning alert--preliminary_question">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    You will not be able to book a hearing of appeal until all parties agree upon a date.
                                    If you require assistance for your booking, please contact the scheduler at
                                    <span class="nowrap">604-660-2865</span>.
                                </div>
                            </div>
                        </div>
                    </div>

                    if (Model.Step2Complete)
                    {
                        if (Model.IsAppealHearing.Value)
                        {
                            <div class="preliminary_questions preliminary_questions--Appeal">
                                @if (Model.CaseType == CoaCaseType.Civil)
                                {
                                    <div class="row search-info-row">
                                        <div class="col-md-6">
                                            <label class="factum can-wrap">
                                                Has the Appellant filed their factum and a copy of the entered order(s) being appealed?
                                                See Rule 32.
                                            </label>
                                            <div id="Appeal_FactumFiled" class="btn-radio-group preliminary_questions__radio">
                                                <label
                                                    class="btn btn-radio btn-radio--secondary @GetValidationClass("FactumFiled") @(Model.FactumFiled is true ? "active" : "") @(Model.Step3Complete ? "disabled" : "")">
                                                    <input type="radio" asp-for="FactumFiled" value="true"
                                                        readonly="@(Model.Step3Complete ? "readonly" : "")" /> Yes
                                                </label>

                                                <label
                                                    class="btn btn-radio btn-radio--secondary @GetValidationClass("FactumFiled") @(Model.FactumFiled is false ? "active" : "") @((showingDates && Model.FactumFiled is true) || Model.Step3Complete ? "disabled" : "")">
                                                    <input type="radio" asp-for="FactumFiled" value="false"
                                                        readonly="@(Model.Step3Complete ? "readonly" : "")" /> No
                                                </label>
                                            </div>

                                            <span class="text-danger" asp-validation-for="FactumFiled"></span>

                                            <div class="notice--preliminary_question">
                                                <span>Your hearing will not be confirmed unless the Order(s) of the Lower Court are
                                                    submitted.</span>
                                            </div>
                                            <div class="alert alert-warning  alert--preliminary_question">
                                                <i class="fa fa-exclamation-triangle"></i>
                                                You will not be able to book a hearing date for the appeal until these two steps have
                                                been taken.
                                                If you require assistance with your booking, please contact the scheduler at
                                                <span class="nowrap">604-660-2865</span>.
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.CaseType == CoaCaseType.Criminal)
                                {
                                    <div class="row search-info-row">
                                        <div class="col-md-6">
                                            <label for="hearingType">What type of appeal hearing do you need to book?</label>
                                            <select asp-for="HearingTypeId" class="form-control registryOptions"
                                                asp-items="SelectListService.CoaHearingTypes" disabled="@showingDates">
                                                <option value="">--- Hearing Type ---</option>
                                            </select>
                                            @if (showingDates)
                                            {
                                                <input type="hidden" asp-for="HearingTypeId" value="@Model.HearingTypeId" />
                                            }
                                            <span class="text-danger" asp-validation-for="HearingTypeId"></span>
                                        </div>
                                    </div>
                                }

                                <div id="AppealAdditionalQs" class="row search-info-row"
                                    style="display: @(Model.CaseType == CoaCaseType.Criminal || Model.FactumFiled is true ? "block" : "none")">
                                    <div class="col-md-6">
                                        <label>How long will you require for your hearing?</label>
                                        <div id="Appeal_IsFullDay" class="btn-radio-group">
                                            <label
                                                class="btn btn-radio btn-radio--secondary btn-radio--day @GetValidationClass("IsFullDay") @(Model.IsFullDay is false ? "active" : "") @(showingDates ? "disabled" : "")">
                                                <input type="radio" asp-for="IsFullDay" value="false"
                                                    readonly="@(showingDates ? "readonly" : "")" /> Half day
                                            </label>

                                            <label
                                                class="btn btn-radio btn-radio--secondary btn-radio--day @GetValidationClass("IsFullDay") @(Model.IsFullDay is true ? "active" : "") @(showingDates ? "disabled" : "")">
                                                <input type="radio" asp-for="IsFullDay" value="true"
                                                    readonly="@(showingDates ? "readonly" : "")" /> Full day
                                            </label>
                                        </div>
                                        <span class="text-danger" asp-validation-for="IsFullDay"></span>
                                    </div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="preliminary_questions preliminary_questions--Chambers">
                                <div class="row search-info-row">
                                    <div class="col-md-12">
                                        <label class="application_type can-wrap">
                                            Please select the application type(s) for this chambers hearing.
                                        </label>

                                        @{
                                            string availableDates = Json.Serialize(Model.ChambersApplicationTypes).ToString();
                                            string selectedTypesJson = Json.Serialize(Model.SelectedApplicationTypes).ToString();
                                            string applicationTypeSelectDisabled = Json.Serialize(Model.Step3Complete).ToString();
                                        }

                                        <div id="VueApplicationTypeSelect">
                                            <application-type-select
                                                :options="@availableDates"
                                                :initial-selection="@selectedTypesJson"
                                                :disabled="@applicationTypeSelectDisabled"
                                                v-on:select="onApplicationTypeChange"
                                            />
                                        </div>

                                        <span class="text-danger" asp-validation-for="SelectedApplicationTypes"></span>

                                        <div class="notice--preliminary_question">
                                            <span>Your hearing will not be confirmed unless the Order(s) of the Lower Court are submitted.</span>
                                        </div>
                                        <div class="alert alert-warning  alert--preliminary_question">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            You will not be able to book a hearing date for the appeal until these two steps have been taken.
                                            If you require assistance with your booking, please contact the scheduler at
                                            <span class="nowrap">604-660-2865</span>.
                                        </div>
                                    </div>
                                </div>

                                <div id="ChambersAdditionalQs" class="row search-info-row">
                                    <div class="col-md-6">
                                        <label>How long will you require for your chambers hearing?</label>
                                        <p>
                                            If you require more than 1 hour, please contact the
                                            <a target="_blank" href="https://www.bccourts.ca/court_of_appeal/court_locations_and_contacts.aspx">
                                                Registry - Chambers Hearings
                                            </a>.
                                        </p>
                                        <div id="Chambers_IsHalfHour" class="btn-radio-group mt-3">
                                            <label class="btn btn-radio btn-radio--secondary btn-radio--time_required @GetValidationClass("IsHalfHour") @(Model.IsHalfHour is true ? "active" : "") @(showingDates ? "disabled" : "")">
                                                <input type="radio" asp-for="IsHalfHour" value="true" disabled="@(showingDates && Model.IsHalfHour == false)" /> Half hour
                                            </label>

                                            <label class="btn btn-radio btn-radio--secondary btn-radio--time_required @GetValidationClass("IsHalfHour") @(Model.IsHalfHour is false ? "active" : "") @(showingDates ? "disabled" : "")">
                                                <input type="radio" asp-for="IsHalfHour" value="false" disabled="@(showingDates && Model.IsHalfHour == true)" /> One hour
                                            </label>
                                        </div>
                                        <span class="text-danger" asp-validation-for="IsHalfHour"></span>

                                        <div class="alert alert-info notice-half-hour-required mt-4" style="display: none;">
                                            <i class="fas fa-info-circle"></i>
                                            The application type(s) you've chosen require one hour.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    }
                }
            </div>

            @if (Model.Results == null)
            {
                <div class="row">
                    <div class="col-12 d-flex">
                        @* Hide the "Restart" button initially, until the File Number field changes *@
                        <a class="btn btn-restart-search mr-auto mt-2 mb-5" href="/scjob/booking/coa/Restart" style="display: @(Model.Step1Complete ? "block" : "none");">Restart Search</a>

                        @if (!Model.Step1Complete)
                        {
                            <button type="submit" id="btnNext" name="SubmitButton" value="SearchCases" class="btn btn-primary btn-hearing-confirmation mt-2 mb-5" style='display: none;'>Next</button>
                        }
                        else if (!Model.Step2Complete)
                        {
                            <button type="submit" id="btnNext" name="SubmitButton" value="HearingType" class="btn btn-primary btn-hearing-confirmation mt-2 mb-5" style='display: none;'>Next</button>
                        }
                        else
                        {
                            <button type="submit" id="btnShowDates" name="SubmitButton" value="GetDates" class="btn btn-primary btn-hearing-confirmation mt-2 mb-5" style='display: none;'>Show Available Dates</button>
                        }
                    </div>
                </div>
            }

            @if (Model.CaseNumber != null && Model.CaseNumber != "CA" && Model.IsValidCaseNumber is false)
            {
                <hr class="results-linebreak" />
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle"></i>
                    We could not find the case for court file number @Model.CaseNumber<span>.</span>
                </div>
            }
        </div>
    </div>

    @if (showingDates)
    {
        <div class="search-info">
            <h5>Available Dates for @Model.HearingRoomType</h5>
            <p>Choose the date that works best for you. Each hearing is @Model.HearingLengthText long.</p>

            <div class="availableDates">
                @{
                    var monthIndex = 0;
                    var optionIndex = 0;

                    foreach (var month in Model.Results)
                    {
                        var days = month.Value;
                        <div class="availableDates__month @monthIndex @((monthIndex == 0 || monthIndex == 1) ? "" : "hidden")">
                            <h6 class="h3--month">@month.Key.ToString("MMMM yyyy")</h6>
                            <div class="availableDates__month__days">
                                @foreach (var day in days)
                                {
                                    <input type="radio" id="@("Date" + optionIndex)" asp-for="SelectedDate" value="@day.ToString("yyyy-MM-dd")" />
                                    <label for="@("Date" + optionIndex)" class="availableDate">
                                        <p>@day.ToString("dddd")</p>
                                        <p>@day.ToString("MMMM d, yyyy")</p>
                                    </label>
                                    <br />
                                    optionIndex++;
                                }
                                <br />
                            </div>
                        </div>
                        monthIndex++;
                    }
                }
            </div>
            <button type="button" id="btnShowMore" class="btn btn-outline-primary btn-lg">Show More Dates</button>
        </div>

        <div class="row">
            <div class="col-12 d-flex">
                <a class="btn btn-restart-search mr-auto mt-2 mb-5" href="/scjob/booking/coa/Restart">Restart Search</a>
                <button type="submit" id="btnSelectDate" name="SubmitButton" value="SelectDate"
                    class="btn btn-primary btn-hearing-confirmation mt-2 mb-5"
                    style="display: @(Model.SelectedDate.HasValue ? "block" : "none");">
                    Confirm selection
                </button>
            </div>
        </div>
    }
</form>
