@model CoaCaseConfirmViewModel

@{
    ViewData["Title"] = "Confirm Your Request";
}

<div class="row screen-intro">
    <div class="col-md-12 paragraph">
        <h1>@ViewData["Title"]</h1>
        <p>The selected date will be reserved for your @(Model.IsAppealHearing ? "appeal" : "chambers") hearing.</p>
        <p>Check that the following information is accurate before confirming your booking.</p>
    </div>
</div>

<div class="row booking-confirmation">
        <form id="CaseConfirmForm" method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">
            <input type="hidden" asp-for="CaseNumber" />
            <input type="hidden" asp-for="FactumFiled" />
            <input type="hidden" asp-for="DateIsAgreed" />
            <input type="hidden" asp-for="IsFullDay" />
            <input type="hidden" asp-for="HearingTypeName" />
            <input type="hidden" asp-for="SelectedDate" />
            <input type="hidden" asp-for="SelectedApplicationTypes" />
            <input type="hidden" asp-for="SelectedApplicationTypeNames" />

            <div class="content col-lg-6 mb-5">

                <div class="form-group">
                    <label>Court file number</label>
                    <div>
                        <span>@Model.CaseNumber</span>
                    </div>
                </div>

                @if (Model.RelatedCaseList !=null && Model.RelatedCaseList.Count > 0)
                {
                    @for (int i = 0; i < Model.RelatedCaseList.Count; i++)
                    {
                        <input type="hidden" asp-for="RelatedCaseList[i]" />
                    }

                    <div class="form-group">
                        <label>Related file number(s)</label>
                        <div>
                            <span>
                                @string.Join(", ", Model.RelatedCaseList)
                            </span>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label>Case type</label>
                    <div>
                        <span>@Model.CaseType</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Hearing type</label>
                    <div>
                        <span>@(Model.IsAppealHearing ? "Appeal" : "Chambers")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Is the hearing date agreed upon by all parties?</label>
                    <div>
                        <span>@(Model.DateIsAgreed is true ? "Yes" : "No")</span>
                    </div>
                </div>
                @if (Model.IsAppealHearing)
                {
                    <div class="form-group">
                        <label class="can-wrap">
                            Has the Appellant filed their factum and a copy of the entered order(s) being appealed? See Rule 32.
                        </label>
                        <div>
                            <span>@(Model.FactumFiled is true ? "Yes" : "No")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>How long will you require for your hearing?</label>
                        <div>
                            <span>@(Model.IsFullDay is true ? "Full Day" : "Half Day")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type of appeal hearing</label>
                        <div>
                            <span>@Model.HearingTypeName</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label>Application Type(s)</label>
                        <ul>
                            @foreach (var typeName in Model.SelectedApplicationTypeNames)
                            {
                                <li>@typeName</li>
                            }
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>How long will you require for your chambers hearing?</label>
                        <div>
                            <span>@(Model.IsHalfHour is true ? "Half Hour" : "One Hour")</span>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label>Date of hearing</label>
                    <div>
                        <span>@Model.SelectedDate.Value.ToString("dddd, MMMM dd, yyyy")</span>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="content-section">
                    <div class="form-group">
                        <h2>Your Contact Information</h2>
                        <p>We will contact you regarding this booking. Please provide the following contact information.</p>
                        <label class="font-weight-bold" asp-for="EmailAddress">E-mail address:</label>
                        <input type="email" asp-for="EmailAddress" required class="form-control" />
                        <div class="invalid-feedback">
                            Please provide a valid email address.
                        </div>
                        <div class="invalid-field-message">
                            @Html.ValidationMessageFor(model => model.EmailAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="font-weight-bold">Phone number (format: xxx-xxx-xxxx):</label>
                        <input type="tel" asp-for="Phone" required class="form-control phone-input" pattern="\d{3}[\-]\d{3}[\-]\d{4}" />
                        <div class="invalid-feedback">
                            Please provide a valid phone number.
                        </div>
                        <div class="invalid-field-message">
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group booking-submit">
                <div class="row no-gutters mx-4">
                    <div class="col-12 d-flex">
                        <a class="btn btn-restart-search mr-auto mt-2 mb-5" href="/scjob/booking/coa/Restart">Cancel</a>

                        <button type="submit" class="btn btn-primary progress-spinner btn-hearing-confirmation mt-2 mb-5">Send Request</button>
                    </div>
                </div>
            </div>

        </form>
</div>
