@inject CoaBookingService service
@model CoaCaseSearchViewModel

@{
    ViewData["Title"] = "Book your Request for Hearing Date";
}

<div class="row screen-intro">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>

        <div class="paragraph">
            <p>All bookings will be entered in a queue and will be reviewed by the court scheduler.</p>
            <p>You will be notified when the booking has been processed.</p>
        </div>

        <div class="paragraph">
            <p>Before we can bring back available times for the hearing, we’ll need to know the following.</p>
            <p>If you require assistance for your booking, please contact the scheduler at 604-660-2865.</p>
        </div>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="CaseType" />
    <!-- Search filter-->
    <div class="row search-container">
        <div class="col col-md-12">
            <div class="search-info">
                <div class="row search-info-row">
                    <div class="col-md-6 form-group">
                        <label for="hearingLocation">Where will the hearing occur.</label>
                        <div class="align-tooltip">
                            <select class="form-control registryOptions" id="hearingLocation">
                                <option value="">Vancouver </option>
                            </select>
                            <span class="ml-3" tabindex="0" data-toggle="tooltip" data-html="true" title="<p>Online Booking is currently active for Vancouver Hearing dates only.</p>" aria-label="Online Booking is currently active for Vancouver Hearing dates only.">
                                <i class="fas fa-question-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="CaseNumber">What is the Court File Number for the case?</label>
                        <div class="align-tooltip">
                            <div>
                                <input class="form-control caseNumber" asp-for="CaseNumber" />
                            </div>
                            <span class="ml-3" tabindex="0" data-toggle="tooltip" data-html="true" title="<p>The Court File Number is often in the format of CA##### (ex. CA12345). Please remove any leading zeros (0) before the number and CA.</p>" aria-label="The Court File Number is often in the format of CA##### (ex. CA12345). Please remove any leading zeros (0) before the number and CA.">
                                <i class="fas fa-question-circle"></i>
                            </span>
                        </div>
                        <span class="text-danger" asp-validation-for="CaseNumber"></span>
                    </div>
                </div>

                @if (Context.Request.Method == "POST")
                {
                    @if (Model.CaseNumber != null)
                    {
                        if (Model.IsValidCaseNumber)
                        {
                            if (Model.CaseType == CoaCaseType.Civil)
                            {
                                <div id="pnlCoaCivil">
                                    <div class="row search-info-row">
                                        <div class="col-md-6">
                                            <label>Has a Certificate of Readiness been filled?</label>
                                            <div class="btn-radio-group">
                                                <label class="btn btn-radio @((Model.CertificateOfReadiness ?? false) ? "active" : "")">
                                                    <input type="radio" asp-for="CertificateOfReadiness" value="true" /> Yes
                                                </label>

                                                <label class="btn btn-radio @((Model.CertificateOfReadiness ?? false) ? "" : "active")">
                                                    <input type="radio" asp-for="CertificateOfReadiness" value="false" /> No
                                                </label> 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Is the Hearing date agreed upon by all parties?</label>
                                            <div class="btn-radio-group">
                                                <label class="btn btn-radio">
                                                    <input type="radio" asp-for="DateIsAgreed" value="true" /> Yes
                                                </label>

                                                <label class="btn btn-radio">
                                                    <input type="radio" asp-for="DateIsAgreed" value="false" /> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row search-info-row" style="display: @((Model.CertificateOfReadiness ?? false) && (Model.DateIsAgreed ?? false) ? "block" : "none")">
                                        <div class="col-md-6">
                                            <label>How long will you require for your Hearing?</label>
                                            <div class="btn-radio-group">
                                                <label class="btn btn-radio btn-radio--day">
                                                    <input type="radio" asp-for="IsFullDay" value="false" /> Half day
                                                </label>

                                                <label class="btn btn-radio btn-radio--day">
                                                    <input type="radio" asp-for="IsFullDay" value="true" /> Full day
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            }
                            else if (Model.CaseType == CoaCaseType.Criminal)
                            {
                                <div id="pnlCoaCriminal">
                                    <div class="row search-info-row">
                                        <div class="col-md-6">
                                            <label>Have you submitted a Lower Court Order?</label>
                                            <div class="btn-radio-group">
                                                <label class="btn btn-radio">
                                                    <input type="radio" asp-for="LowerCourtOrder" value="true" /> Yes
                                                </label>

                                                <label class="btn btn-radio">
                                                    <input type="radio" asp-for="LowerCourtOrder" value="false" /> No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Is the Hearing date agreed upon by all parties?</label>
                                            <div class="btn-radio-group">
                                                <label class="btn btn-radio">
                                                    <input type="radio" asp-for="DateIsAgreed" value="true" /> Yes
                                                </label>

                                                <label class="btn btn-radio">
                                                    <input type="radio" asp-for="DateIsAgreed" value="false" /> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    @*if (LowerCourtOrder == false && DateisAgreed == false)*@
                                    <div class="row search-info-row">
                                        <div class="col-md-6">
                                            <label>How long will you require for your Hearing?</label>
                                            <div class="btn-radio-group">
                                                <label class="btn btn-radio btn-radio--day">
                                                    <input type="radio" asp-for="IsFullDay" value="false" /> Half day
                                                </label>

                                                <label class="btn btn-radio btn-radio--day">
                                                    <input type="radio" asp-for="IsFullDay" value="true" /> Full day
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="hearingType">What type of Appeal Hearing do you need to book?</label>
                                            <select class="form-control registryOptions" id="hearingType">
                                                <option value="hearing">Hearing of Appeal</option>
                                                <option value="conviction">Conviction Appeal</option>
                                                <option value="sentence">Sentence Appeal</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row search-info-row">
                                <div class="col col-md-12">
                                    <p class="text-danger">We could not find the case for Court File Number @Model.CaseNumber</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>

            <div class="row">
                <div class="col col-md-12">
                    @if (string.IsNullOrEmpty(Model.CaseType))
                    {
                        <button type="submit" class="btn btn-primary btn-lg">Next</button>
                    }
                    else
                    {
                        //should trigger error messages if there are empty fields/unchecked radio buttons
                        <button type="submit" class="btn btn-primary btn-lg">Show Available Dates</button>
                    }
                </div>
            </div>

            @if (false)
            {
                foreach (var timeSlot in Model.Results.AvailableDates)
                {
                @timeSlot.scheduleDate <text> | </text>  @timeSlot.availability
                <br />
                }
            }
        </div>
    </div>
</form>

@*@if (Model.Results != null && Model.Results.AvailableDates.Any())
{
    foreach (var timeSlot in Model.Results.AvailableDates)
    {
    @timeSlot.scheduleDate <text> | </text>  @timeSlot.availability
    <br />
    }
}*@
