@model ScConferenceEmailViewModel
<html>

<body>

    Thank you.<br />
    <br />
    Your JCC has been scheduled for the date and time below.<br />
    <br />
    Please file a Notice of JCC to secure the date. Consult the Supreme Court Rules for additional
    details:<br />
    <a href="https://www.bccourts.ca/supreme_court/practice_and_procedure/acts_rules_and_forms/">
        https://www.bccourts.ca/supreme_court/practice_and_procedure/acts_rules_and_forms/
    </a>
    <br />
    <br />
    Please ensure to provide all email addresses and phone numbers for counsel or self-represented
    parties in your filed document.<br />
    <br />
    ----<br />
    TYPE OF CONFERENCE OR HEARING:<br />
    Judicial Case Conference (JCC)<br />
    <br />
    REGISTRY NAME:<br />
    @Model.CaseLocationName<br />
    <br />
    COURT FILE:<br />
    @Model.FullCaseNumber<br />
    @Model.StyleOfCause<br />
    <br />
    @if (Model.CaseLocationName != Model.BookingLocationName)
    {
        @Html.Raw("CENTRALIZED HEARING LOCATION:<br/>\n")
        @Model.BookingLocationName
        @Html.Raw(" Law Courts<br/><br/>\n\n")
    }
    DATE AND TIME OF CONFERENCE OR HEARING:<br />
    @Model.Date<br />
    @Model.Time<br />
    <br />
    YOUR EMAIL ADDRESS:<br />
    @Model.EmailAddress<br />
    <br />
    YOUR PHONE NUMBER:<br />
    @Model.Phone<br />

</body>

</html>