<html>

<body>

    <p>
        A trial date has been reserved tentatively for the date below.
    </p>

    <p>
        File a Notice of Trial within 30 days of the date of this email to confirm this trial
        date. The Notice of Trial form can be found on the
        <a href="https://www.bccourts.ca/supreme_court/practice_and_procedure/acts_rules_and_forms/">
            Supreme Court scheduling website</a>.
    </p>

    <h2 style="margin-bottom: 0.1em">Court file</h2>

    File number: @Model.FullCaseNumber<br />
    @Model.StyleOfCause<br />
    @Model.CourtClassName<br />

    <h2 style="margin-bottom: 0.1em">Trial details</h2>

    Trial length: @Model.HearingLength<br />
    Starting: @Model.AllocatedStartDate<br />
    Trial location: @Model.HearingLocationName<br />

    <h2 style="margin-bottom: 0.1em">Contact information</h2>

    Email: @Model.EmailAddress<br />
    Phone number: @Model.Phone<br />

</body>

</html>