<html>

<body>

    <p>
        We received your request for a trial booking through the Online Booking System.
        A trial date was not reserved tentatively for your case as there were more
        requests than available trial dates.
    </p>
    <p>
        The next booking period commences in <strong>@Model.NextMonth</strong>.
    </p>

    <h2 style="margin-bottom: 0.1em">Court File</h2>

    File number: @Model.FullCaseNumber<br />
    @Model.StyleOfCause<br />
    @Model.CourtClassName<br />
    Trial location: @Model.HearingLocationName<br />

</body>

</html>