<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BC Courts Booking System</title>

    <environment include="Development">
        <link rel="stylesheet" href="/scjob/dist/css/bootstrap.css" asp-append-version="true"/>
        <link rel="stylesheet" href="/scjob/dist/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="/scjob/dist/css/fontawesome.css" asp-append-version="true"/>
        <link rel="stylesheet" href="/scjob/dist/css/swiper.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/scjob/dist/css/vendor.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="/scjob/dist/css/site.min.css" asp-append-version="true"/>
    </environment>
    <link rel="icon" href="/scjob/favicon.ico" type="image/x-icon" />
    @RenderSection("Styles", false)
</head>
<body>
<div class="main">
    <nav class="navbar navbar-expand-lg navbar-dark header-nav">
        <div class="container">
            <a class="header-logo" href="/scjob">
                <img src="/scjob/images/bc-logo.svg" width="148"/>
            </a>
            <p class="appName">BC Courts Booking System</p>
            @RenderSection("NavBar", false)
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
</div>
<footer class="footer">
    <nav class="footer-nav">
        <div class="container">
            <ul class="footer-nav-items">
                <li class="nav-item">
                    <a href="/scjob">Home</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.courts.gov.bc.ca/Privacy%20Statement.html" target="_blank">Disclaimer, Copyright and Privacy</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
            <span class="copyright">&copy; @DateTime.Now.Year - British Columbia Superior Courts</span>
        </div>
    </nav>
</footer>

<environment include="Development">
    <script src="/scjob/dist/lib/jquery.js" asp-append-version="true"></script>
    <script src="/scjob/dist/lib/popper.js" asp-append-version="true"></script>
    <script src="/scjob/dist/lib/bootstrap.js" asp-append-version="true"></script>
    <script src="/scjob/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="/scjob/dist/lib/jquery.min.js" asp-append-version="true"></script>
    <script src="/scjob/dist/lib/bootstrap.min.js" asp-append-version="true"></script>
    <script src="/scjob/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>
