@model ScTrialEmailViewModel
<html>
<body>

<p>The request for trial dates has been submitted to the Online Booking System.</p>
<p>
    Once the booking period closes, the Online Booking system will notify you whether
    a trial date has been reserved tentatively for this case. You will receive an
    update via email by @Model.ResultDate.
</p>

<h3>Court File</h3>
File number: @Model.FullCaseNumber<br/>
<strong>@Model.StyleOfCause</strong><br/>
@Model.CourtClassName<br/>
Trial length: @Model.TrialLength<br/>
Trial location: @Model.TrialLocationName<br/>

<h3>Requested Trial Dates</h3>
<p>
    You are submitting a request for one of the following trial dates (listed in order
    of priority):
</p>
<ol>
@{
  foreach (var formattedDate in @Model.FairUseDates)
  {
    <li>@formattedDate</li>
  }
}
</ol>

<h3>Contact Information</h3>
Email: @Model.EmailAddress<br/>
Phone number: @Model.Phone<br/>
<br/>
<p>
    To learn more about this process, please visit bccourts.ca or call Supreme Court
    Scheduling at 604-660-2853.
</p>

</body>
</html>
