@model ScTrialEmailViewModel
<html>
<body>
<p>
    A trial date has been reserved tentatively for the date below.
</p>
<p>
    File a Notice of Trial within 30 days of the date of this email to confirm this trial date.
    The Notice of Trial form can be found on the
    <a href="https://www.bccourts.ca/supreme_court/practice_and_procedure/acts_rules_and_forms/">
        Supreme Court scheduling website
    </a>.
</p>

<h3>Court File</h3>
File number: @Model.FullCaseNumber<br/>
<strong>@Model.StyleOfCause</strong><br/>
@Model.CourtClassName<br/>

<h3>Trial Details</h3>
Trial length: @Model.TrialLength<br/>
Starting: @Model.RegularDate<br/>
Trial location: @Model.TrialLocationName<br/>

<h3>Contact Information</h3>
Email: @Model.EmailAddress<br/>
Phone number: @Model.Phone<br/>

</body>
</html>
