@model CaseConfirmViewModel

@{
    ViewData["Title"] = "Confirm Your Booking";
}

<div class="row screen-intro">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <p>The following time is reserved for your conference hearing.</p>
        <p>Check that the following information is accurate before confirming your booking.</p>
    </div>
</div>

<div class="row booking-confirmation">
    <div class="content col-lg-6">
        <form action="/scjob/booking/CaseBooked" method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">
            <input type="hidden" asp-for="HearingTypeName" />
            <input type="hidden" asp-for="LocationName" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="FullDate" />
            <div class="form-group">
                <label class="font-weight-bold">Type of Conference Hearing</label>
                <div>
                    <label>@Model.HearingTypeName</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Registry Name</label>
                <div>
                    <label>@Model.LocationName</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Court File Number</label>
                <div>
                    <label>@Model.CaseNumber</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Date and Time of Conference Hearing</label>
                <div>
                    <label>@Model.Date</label>
                </div>
                <div>
                    <label>@Model.Time</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">E-mail address:</label>
                <input type="email" asp-for="EmailAddress" required class="form-control" />
                <div class="invalid-feedback">
                    Please provide a valid email address.
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Phone (format: xxx-xxx-xxxx):</label>
                <input type="tel" asp-for="Phone" required class="form-control" pattern="\d{3}[\-]\d{3}[\-]\d{4}" />
                <div class="invalid-feedback">
                    Please provide a valid phone number.
                </div>
            </div>

            <div class="form-group booking-submit">
                <button type="submit" class="btn btn-primary btn-lg" id="btnSearch">Confirm Booking</button>
                <a class="btn btn-secondary btn-lg" href="/scjob/booking/CaseSearch">Cancel</a>
            </div>

        </form>
    </div>
</div>
