@model SCJ.Booking.MVC.Models.CaseConfirmViewModel

<h2>Your Booking is Confirmed</h2>
<p>The booking for your conference hearing is confirmed.</p>
<p>The following details will be sent to you by email.</p>

<div class="row search-container">
    <div class="col col-md-6">
        <div class="row">
            <div class="col col-md-12">
                <div class="form-group">
                    <label class="font-weight-bold">Case Action Number</label>
                    <div>
                        <label>@Model.CaseNumber</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Type of Conference Hearing</label>
                    <div>
                        <label>@Model.TypeOfConferenceHearing</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Location for Conference Hearing</label>
                    <div>
                        <label>@Model.LocationName</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Date and Time of Conference Hearing</label>
                    <div>
                        <label>@Model.Date</label>
                    </div>
                    <div>
                        <label>@Model.Time</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="row">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-header">
                        Next Steps Before Your Hearing
                    </div>
                    <div class="card-body">
                        <p>TBD: Instructions on filing documents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<div class="row">
    <div class="col col-md-3">
        @Html.ActionLink("Book Another Hearing", "CaseSearch", "Booking", null, new { @class = "btn btn-secondary btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        @Html.ActionLink("Log our of the Supreme Counrt Booking System", "Logout", "User", null, null)
    </div>
</div>

