@model SCJ.Booking.MVC.Models.CaseSearchViewModel
@using System.Text.RegularExpressions;

<h2>Book Your Hearing</h2>
<p>Before we can bring back available times for the hearing, we’ll need to know the following.</p>

<!-- Search filter-->
<form asp-controller="Booking" asp-action="CaseSearch" method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">
    <input type="hidden" asp-for="SelectedCaseDate" id="hidDate" />
    <input type="hidden" asp-for="ContainerId" id="hidContainerId" />
    <input type="hidden" asp-for="TimeslotExpired" id="hidTimeslotExpired" />
    <div class="row search-container">
        <div class="col col-md-12">
            <div class="form-group">
                <label>Select the registry where the file was created?</label>
                <select asp-for="SelectedRegistryId" class="form-control" id="ddlLocation" asp-items="@Model.Registry" required>
                    <option value="">--Please select an option--</option>
                </select>
                <div class="invalid-feedback">
                    Please provide the registry the file was created at.
                </div>
            </div>
            <div class="form-group">
                <label>What is the Case Action Number for the case?</label>
                <input asp-for="CaseNumber" class="form-control form-control caseNumber col-md-2" required id="txtCaseNumber"/>
                <div class="invalid-feedback">
                    Please provide a Case Action Number.
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col col-md-3">
            <button type="submit" class="btn btn-secondary btn-lg" id="btnSearch">Show Available Times</button>
        </div>
    </div>
</form>
<!-- Search filter-->

@if (Context.Request.Method == "POST")
{
    if (Model.TimeslotExpired)
    {
        <div class="row">
            <div class="col col-md-12">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    Someone just booked a hearing on @Model.TimeslotFriendlyName and it is no longer available. Please choose another time for your hearing.
                </div>
            </div>
        </div>
    }

    if (!Model.IsValidCaseNumber)
    {
        <!-- No search results for case number-->
        <div class="no-search-results">
            <div class="row">
                <div class="col col-md-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                        We could not find the case for @Model.CaseNumber<span>.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 col-sm-12 col-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Is it the right Case Action Number?</div>
                        <div class="card-body">
                            <p class="card-text">
                                If this is not the correct Case Action
                                Number, you can change it and try again
                                for available times.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-12 col-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Is this a Supreme Family or Civil case?</div>
                        <div class="card-body">
                            <p class="card-text">
                                This online tool only covers Family and
                                Civil cases. If your case is not a Family or
                                Civil case, please go to [TBD]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-12 col-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Need to contact your registry?</div>
                        <div class="card-body">
                            <p class="card-text">
                                You can contact the registry for which
                                your hearing is associated (indicated in
                                your court filing documents)… [TBD]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- No search results for case number-->
    }
    else if (Model.Results.AvailableDates.Length > 0 && !Model.NoAvailableTimes)
    {
        <!-- Booking times-->
        <div class="row">
            <div class="col col-md-12">
                <div class="float-left">
                    <h2>Available Times in @Model.SelectedRegistryName</h2>
                </div>
                <span class="ml-3" data-toggle="tooltip" data-html="true" title="<h3>HEARING LOCATION</h3><p>The hearing location is set based on the Case Action Number you provided.</p>"><i class="fas fa-question-circle"></i></span>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <p>Choose the time slot that works best for you. Each hearing is 30 minutes long.</p>
                <p>If you need to change the length of time required, please call our Scheduling Staff at [TBD].</p>
            </div>
        </div>
        <div id="VueAvailableTimes" class="availableTimesContainer">
            <availabletimes :location-id="@Model.SelectedRegistryId"
                            :hearing-type="9010"
                            :case-number="@Regex.Replace(Model.CaseNumber, "[A-Za-z ]", "").Trim()">
            </availabletimes>
        </div>
        <!-- Booking times-->
    }
    else if (Model.NoAvailableTimes)
    {
        <!-- No available times for this hearing - next steps-->
        <div class="no-available-times">
            <h2>There are currently no available times for this hearing in [Location].</h2>
            <div class="row">
                <div class="col col-md-4 col-sm-12 col-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">[Next Step 1]</div>
                        <div class="card-body">
                            <p class="card-text">
                                [TBD]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-12 col-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">[Next Step 2]</div>
                        <div class="card-body">
                            <p class="card-text">
                                [TBD]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-12 col-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">[Next Step 3]</div>
                        <div class="card-body">
                            <p class="card-text">
                                [TBD]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- No available times for this hearing - next steps-->
    }

}


@section Scripts {
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/vue/booking-casesearch.js" asp-append-version="true"></script>
    <script src="~/js/casesearch.js" asp-append-version="true"></script>
}

@section Styles {
    <link href="~/swiper.min.css" rel="stylesheet" />
}
