@model CaseConfirmViewModel

@{
    ViewData["Title"] = "Confirm Your Booking";
}

<div class="row screen-intro">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <p>The following time is reserved for your conference hearing.</p>
        <p>Check that the following information is accurate before confirming your booking.</p>
    </div>
</div>

<div class="row booking-confirmation">
    <div class="content col-lg-6">
        <form asp-controller="Booking" asp-action="CaseBooked" method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">
            <input type="hidden" asp-for="CaseNumber" />
            <input type="hidden" asp-for="TypeOfConferenceHearing" />
            <input type="hidden" asp-for="LocationName" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="Time" />
            <input type="hidden" asp-for="ContainerId" />
            <input type="hidden" asp-for="LocationId" />
            <input type="hidden" asp-for="FullDate" />
            <div class="form-group">
                <label class="font-weight-bold">Case Action Number</label>
                <div>
                    <label>@Model.CaseNumber</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Type of Conference Hearing</label>
                <div>
                    <label>@Model.TypeOfConferenceHearing</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Location for Conference Hearing</label>
                <div>
                    <label>@Model.LocationName</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Date and Time of Conference Hearing</label>
                <div>
                    <label>@Model.Date</label>
                </div>
                <div>
                    <label>@Model.Time</label>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">E-mail address:</label>
                <input type="email" asp-for="EmailAddress" required class="form-control" />
                <div class="invalid-feedback">
                    Please provide a valid email address.
                </div>
            </div>
    </div>
</div>
<div class="row booking-submit">
    <div class="content col-lg-6">
        <button type="submit" class="btn btn-primary btn-lg" id="btnSearch">Confirm Booking</button>
        @Html.ActionLink("Cancel", "CaseSearch", "Booking", null, new { @class = "btn btn-secondary btn-lg" })
    </div>
</div>
</form>

@section Scripts {
    <script src="~/js/casesearch.js" asp-append-version="true"></script>
}
