@model SCJ.Booking.MVC.ViewModels.ScCaseConfirmViewModel

@if (@Model.SessionInfo.BookingFormula == ScFormulaType.FairUseBooking)
{
    <p class="mb-4">Please review the following information to ensure that it is accurate. Dates are not guaranteed at this
    stage, you
    are submitting a request.</p>
}
else
{
    <p class="mb-4">Review the following information to ensure that it is accurate before completing your booking.</p>
}

<div class="row no-gutters justify-content-between booking-confirmation--details">
    <div class="col-12">
        <div class="uppercase-sm">File Number: @Model.SessionInfo.FileNumber</div>
        <h5 style="margin-bottom: 4px">@Model.SessionInfo.SelectedCourtFile?.styleOfCause</h5>
        <p>@Model.SessionInfo.SelectedCourtClassName</p>
    </div>
</div>

@if (@Model.SessionInfo.BookingFormula == ScFormulaType.FairUseBooking)
{
    <partial name="Partial/CaseConfirm/_FairUseBooking" model="Model" />
}
else
{
    <partial name="Partial/CaseConfirm/_RegularBooking" model="Model" />
}
