@model CoaEmailViewModel
<html>

<body>
    Thank you.<br/>
    <br/>
    The booking for your hearing has been added to the booking queue.<br/>
    You will be contacted for further confirmation of this booking.<br/>
    <br/>
    The Court of Appeal has been hearing chambers applications using different methods. Any person
    who wishes to appear by Zoom must file the Request to Appear Remotely Form with their materials
    on the timelines in the Rules.<br/>
    <a href="https://www.bccourts.ca/Court_of_Appeal/documents/fillable_forms/request_to_appear_remotely.pdf">
            https://www.bccourts.ca/Court_of_Appeal/documents/fillable_forms/request_to_appear_remotely.pdf
        </a><br/>
    <br/>
    For more information on Zoom hearings, please see the Court's Remote Appearances Practice Directive<br />
    <a href="https://www.bccourts.ca/Court_of_Appeal/practice_and_procedure/civil_and_criminal_practice_directives/PDF/(CandC)Remote_Appearances.pdf">
        https://www.bccourts.ca/Court_of_Appeal/practice_and_procedure/civil_and_criminal_practice_directives/PDF/(CandC)Remote_Appearances.pdf
    </a><br/>
    <br/>
    ----<br />
    COURT FILE NUMBER:<br/>
    @Model.CourtFileNumber<br/>
    @Html.Raw(Model.RelatedCasesString)<br/>
    CASE TYPE:<br/>
    @Model.CaseType<br/>
    <br/>
    TYPE OF HEARING:<br/>
    Chambers<br/>
    <br/>
    DATE AGREED UPON:<br/>
    @if (Model.DateIsAgreed is true)
    {
    @Html.Raw("Yes<br/>\n")
    }
    else
    {
    @Html.Raw("No<br/>\n")
    @Html.Raw("(You should communicate with the other person(s) responding to this application to ensure they are available on the requested date.)<br/>\n")
    }
    <br/>
    DATE OF HEARING:<br/>
    @Model.Date<br/>
    <br/>
    APPLICATION TYPE(S)<br/>
    @foreach (string appTypeName in Model.SelectedApplicationTypeNames)
    {
    @Html.Raw("- " + appTypeName + "<br/>\n")
    }
    <br/>
    LENGTH OF HEARING:<br/>
    @Model.HearingLength<br/>
    <br/>
    YOUR EMAIL ADDRESS:<br/>
    @Model.EmailAddress<br/>
    <br/>
    YOUR PHONE NUMBER:<br/>
    @Model.Phone<br/>
</body>

</html>
